.account-form-wrapper {
  position: relative;
  padding: 20px;
  margin: 50px 0;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.account-form-wrapper .account-form-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
  background: #eeeeee;
  border-radius: 10px 10px 0 0;
}
.account-form-wrapper .account-form-header h1 {
  color: #555555;
  font-weight: 400;
}
.account-form-wrapper.disconnect p {
  padding: 20px 0;
}
.account-form-wrapper .account-form-body {
  margin-top: 60px;
}
.account-form-wrapper .help-block {
  margin-top: 10px;
}
.btn-hydroshare {
  color: #555555;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-hydroshare:hover {
  color: #ffffff;
  background-color: #71a43a;
  border-color: rgba(0, 0, 0, 0.2);
}
.fa-hydroshare {
  background-image: url(/static/tethys_portal/images/hs-icon-sm.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-arcgis {
  color: white;
  background-color: #0079C1;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-arcgis:hover {
  background-color: #005E95;
}
.fa-arcgis {
  background-image: url(/static/tethys_portal/images/arcgis-icon-sm.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-okta {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-okta .fa-circle-o {
  color: #007dc1;
}
.btn-okta:hover {
  background-color: #007dc1;
  color: #ffffff;
}
.btn-okta:hover .fa-circle-o {
  color: #ffffff;
  font-weight: 600;
}
.btn-okta:focus {
  background-color: #007dc1;
  color: #ffffff;
}
.btn-okta:focus .fa-circle-o {
  color: #ffffff;
  font-weight: 600;
}
.btn-onelogin {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-onelogin .fa-onelogin {
  color: #1c1f2a;
  background-image: url(/static/tethys_portal/images/onelogin_black_32.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-onelogin:hover {
  background-color: #1c1f2a;
  color: #ffffff;
}
.btn-onelogin:hover .fa-onelogin {
  background-image: url(/static/tethys_portal/images/onelogin_white_32.png);
}
.btn-onelogin:focus {
  background-color: #1c1f2a;
  color: #ffffff;
}
.btn-onelogin:focus .fa-onelogin {
  background-image: url(/static/tethys_portal/images/onelogin_white_32.png);
}
.btn-windows {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.fa-windows {
  color: #3878d4;
}
.btn-windows:hover {
  background-color: #3878d4;
  color: #ffffff;
}
.btn-windows:hover .fa-windows {
  color: #ffffff;
}
.btn-windows:focus {
  background-color: #3878d4;
  color: #ffffff;
}
.btn-windows:focus .fa-windows {
  color: #ffffff;
}
.btn-google {
  background-color: #ffffff;
  color: #555555;
}
.fa-google {
  color: #dd4b39;
}
.btn-google:hover {
  background-color: #dd4b39;
}
.btn-google:hover .fa-google {
  color: #ffffff;
}
.btn-google:focus {
  background-color: #dd4b39;
}
.btn-google:focus .fa-google {
  color: #ffffff;
}
.btn-linkedin {
  background-color: #ffffff;
  color: #555555;
}
.fa-linkedin {
  color: #007bb6;
}
.btn-linkedin:hover {
  background-color: #007bb6;
}
.btn-linkedin:hover .fa-linkedin {
  color: #ffffff;
}
.btn-linkedin:focus {
  background-color: #007bb6;
}
.btn-linkedin:focus .fa-linkedin {
  color: #ffffff;
}
.btn-facebook {
  background-color: #ffffff;
  color: #555555;
}
.fa-facebook {
  color: #3b5998;
}
.btn-facebook:hover {
  background-color: #3b5998;
}
.btn-facebook:hover .fa-facebook {
  color: #ffffff;
}
.btn-facebook:focus {
  background-color: #3b5998;
}
.btn-facebook:focus .fa-facebook {
  color: #ffffff;
}
.btn-custom-oauth {
  color: #555555;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-custom-oauth:hover {
  color: #ffffff;
  background-color: #666666;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-custom-oauth {
  background-color: #ffffff;
  color: #555555;
}
.fa-unlock-alt {
  color: #666666;
}
.btn-custom-oauth:hover {
  background-color: #666666;
}
.btn-custom-oauth:hover .fa-unlock-alt {
  color: #ffffff;
}
.btn-custom-oauth:focus {
  background-color: #666666;
}
.btn-custom-oauth:focus .fa-unlock-alt {
  color: #ffffff;
}
.btn-social {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 10px;
}
.social-divide-or {
  position: relative;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}
.social-divide-or .line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.social-divide-or .or {
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -20px;
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 20px;
  color: #555555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 992px) {
  .account-form-wrapper {
    margin: 0;
  }
}