footer.site-footer {
    background-color: #0A62A9;
    z-index: 100;
}
footer.site-footer a {
    font-size: 20px;
    color: #efefef;
    text-decoration: none;
    white-space: nowrap;
}
footer.site-footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}
footer.site-footer .tethys-attribution {
    font-size: 16px;
    color: #efefef;
}
footer.site-footer .copyright {
    display: block;
    font-size: 16px;
    color: #efefef;
    white-space: nowrap;
}
footer.site-footer .documents-wrapper .document-link {
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
}
