.hero-bg {
    background-color: #0093E9;
    background-image: linear-gradient(345deg, #0a62a9 0%, #0093E9 100%);
}
.hero {
    padding-top: 136px;
    z-index: 100;
}
.btn-sign-up {
    display: block;
    width: 150px;

}
.feature-card {
    max-width: 250px;
}