/*****************************************************************************
 * FILE: tethys_main
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/* ===========================================
   Less Imports
   =========================================== */
/*****************************************************************************
 * FILE: variables
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/* =========
   Variables
   ========= */
/*****************************************************************************
 * FILE: mixins
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: fonts
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/* =====
   Fonts
   ===== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
/*****************************************************************************
 * FILE: base
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'open sans', 'Myriad Pro', 'Lucida Grande', 'Helvetica', sans-serif;
  background: #ffffff;
  height: 100%;
}
section {
  padding: 0 40px;
}
.bucket {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  overflow: auto;
}
a.action {
  border-radius: 5px;
}
a {
  color: #2ca6ed;
}
a:hover {
  color: #0a84cb;
}
/* This parent can be any width and height */
.center-parent {
  text-align: center;
  /* The ghost, nudged to maintain perfect centering */
}
.center-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
/*****************************************************************************
 * FILE: page
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
#content {
  position: relative;
  min-height: 100%;
}
#content .row {
  margin-right: 0;
  margin-left: 0;
}
.primary {
  position: relative;
}
/*****************************************************************************
 * FILE: sticky_footer
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: buttons
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/* ===========================================
   Buttons
   =========================================== */
.hero-action {
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -112.5px;
  display: block;
  width: 225px;
  height: 50px;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -moz-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
  -ms-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.hero-action:hover {
  background-color: #fff;
  color: #0A89CA;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -moz-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
  -ms-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
/*****************************************************************************
 * FILE: alerts
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: header
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: home
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: ckan_tweaks
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: footer
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: account
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
.account-form-wrapper {
  position: relative;
  padding: 50px;
  margin: 50px 0;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.account-form-wrapper .account-form-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 50px;
  background: #eeeeee;
}
.account-form-wrapper .account-form-header h1 {
  color: #555555;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.account-form-wrapper.disconnect p {
  padding: 20px 0;
}
.account-form-wrapper .account-form-body {
  margin-top: 50px;
}
.account-form-wrapper .help-block {
  margin-top: 10px;
}
.btn-hydroshare {
  color: #555555;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-hydroshare:hover {
  color: #ffffff;
  background-color: #71a43a;
  border-color: rgba(0, 0, 0, 0.2);
}
.fa-hydroshare {
  background-image: url(/static/tethys_portal/images/hs-icon-sm.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-arcgis {
  color: white;
  background-color: #0079C1;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-arcgis:hover {
  background-color: #005E95;
}
.fa-arcgis {
  background-image: url(/static/tethys_portal/images/arcgis-icon-sm.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-okta {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-okta .fa-circle-o {
  color: #007dc1;
}
.btn-okta:hover {
  background-color: #007dc1;
  color: #ffffff;
}
.btn-okta:hover .fa-circle-o {
  color: #ffffff;
  font-weight: 600;
}
.btn-okta:focus {
  background-color: #007dc1;
  color: #ffffff;
}
.btn-okta:focus .fa-circle-o {
  color: #ffffff;
  font-weight: 600;
}
.btn-onelogin {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-onelogin .fa-onelogin {
  color: #1c1f2a;
  background-image: url(/static/tethys_portal/images/onelogin_black_32.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 4px 5px;
}
.btn-onelogin:hover {
  background-color: #1c1f2a;
  color: #ffffff;
}
.btn-onelogin:hover .fa-onelogin {
  background-image: url(/static/tethys_portal/images/onelogin_white_32.png);
}
.btn-onelogin:focus {
  background-color: #1c1f2a;
  color: #ffffff;
}
.btn-onelogin:focus .fa-onelogin {
  background-image: url(/static/tethys_portal/images/onelogin_white_32.png);
}
.btn-windows {
  background-color: #ffffff;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
}
.fa-windows {
  color: #3878d4;
}
.btn-windows:hover {
  background-color: #3878d4;
  color: #ffffff;
}
.btn-windows:hover .fa-windows {
  color: #ffffff;
}
.btn-windows:focus {
  background-color: #3878d4;
  color: #ffffff;
}
.btn-windows:focus .fa-windows {
  color: #ffffff;
}
.btn-google {
  background-color: #ffffff;
  color: #555555;
}
.fa-google {
  color: #dd4b39;
}
.btn-google:hover {
  background-color: #dd4b39;
}
.btn-google:hover .fa-google {
  color: #ffffff;
}
.btn-google:focus {
  background-color: #dd4b39;
}
.btn-google:focus .fa-google {
  color: #ffffff;
}
.btn-linkedin {
  background-color: #ffffff;
  color: #555555;
}
.fa-linkedin {
  color: #007bb6;
}
.btn-linkedin:hover {
  background-color: #007bb6;
}
.btn-linkedin:hover .fa-linkedin {
  color: #ffffff;
}
.btn-linkedin:focus {
  background-color: #007bb6;
}
.btn-linkedin:focus .fa-linkedin {
  color: #ffffff;
}
.btn-facebook {
  background-color: #ffffff;
  color: #555555;
}
.fa-facebook {
  color: #3b5998;
}
.btn-facebook:hover {
  background-color: #3b5998;
}
.btn-facebook:hover .fa-facebook {
  color: #ffffff;
}
.btn-facebook:focus {
  background-color: #3b5998;
}
.btn-facebook:focus .fa-facebook {
  color: #ffffff;
}
.btn-custom-oauth {
  color: #555555;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-custom-oauth:hover {
  color: #ffffff;
  background-color: #666666;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-custom-oauth {
  background-color: #ffffff;
  color: #555555;
}
.fa-unlock-alt {
  color: #666666;
}
.btn-custom-oauth:hover {
  background-color: #666666;
}
.btn-custom-oauth:hover .fa-unlock-alt {
  color: #ffffff;
}
.btn-custom-oauth:focus {
  background-color: #666666;
}
.btn-custom-oauth:focus .fa-unlock-alt {
  color: #ffffff;
}
.btn-social {
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-block + .btn-block {
  margin-top: 10px;
}
.social-divide-or {
  position: relative;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}
.social-divide-or .line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.social-divide-or .or {
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -20px;
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 20px;
  color: #555555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 992px) {
  .account-form-wrapper {
    margin: 0;
  }
}
/*****************************************************************************
 * FILE: user
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
.profile-header {
  position: relative;
  height: 250px;
  background: #1b95dc;
}
.profile-header .profile-image-wrapper {
  position: absolute;
  top: 50px;
}
.profile-header .profile-image-wrapper img {
  border-radius: 50%;
}
.profile-header .profile-name {
  display: block;
  color: white;
  font-size: 60px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 130px;
  padding-left: 30px;
}
.profile-section {
  padding: 25px 0;
  color: #555555;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #555555;
}
.profile-section.first {
  margin-top: 75px;
}
.profile-section.last {
  border-bottom: none;
}
.profile-section .profile-section-header h3 {
  margin: 0;
  font-weight: 500;
}
.profile-section .profile-parameters {
  margin-top: 8px;
}
.profile-section .profile-parameters ul {
  padding: 0;
  margin: 0;
}
.profile-section .profile-parameters ul li {
  display: block;
  height: 28px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters ul li .parameter {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 20px;
  font-weight: 400;
}
.profile-section .profile-parameters ul li .value {
  float: left;
}
.profile-section .profile-parameters ul li .value.button {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
.profile-section .profile-parameters ul li .value.button .btn {
  font-size: 13.5px;
}
.profile-section .profile-parameters ul > li:last-of-type {
  margin-bottom: 0;
}
.profile-section .profile-parameters label {
  width: 30%;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters label.error-label {
  text-align: left;
  margin-left: 30%;
  padding-left: 15px;
  width: 50%;
}
.profile-section .profile-parameters .form-control-static {
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters .form-control-static .btn {
  margin-top: -4px;
}
.profile-section .profile-parameters .form-control {
  margin-top: 4px;
}
.profile-section.social .profile-parameters ul li {
  height: auto;
}
.profile-section.social .profile-parameters ul li .social-label-container {
  margin-left: 30%;
}
.profile-section.social .profile-parameters ul li .social-label-container span {
  line-height: 32px;
}
#settings-buttons {
  margin: 20px 0;
}
#settings-buttons .btn {
  width: 150px;
  margin-left: 10px;
}
.profile-edit-button {
  float: right;
  padding-top: 20px;
  padding-right: 10%;
  margin-bottom: -65px;
}
@media (max-width: 992px) {
  .profile-header {
    height: 125px;
  }
  .profile-header .profile-image-wrapper {
    top: 25px;
  }
  .profile-header .profile-image-wrapper img {
    height: 75px;
    width: 75px;
  }
  .profile-header .profile-name {
    font-size: 35px;
    padding-top: 38px;
    padding-left: 90px;
  }
  .profile-section.first {
    margin-top: 0;
  }
  .profile-section .profile-parameters ul li .parameter {
    float: none;
  }
  .profile-section .profile-parameters ul li .value {
    float: none;
  }
  .profile-section .profile-parameters label {
    width: 100%;
    padding-left: 0;
  }
  .profile-section .profile-parameters label.error-label {
    margin-left: 0;
    padding-left: 15px;
    width: 100%;
  }
  .profile-section.social .profile-parameters ul li .social-label-container {
    margin-left: 15px;
  }
  .profile-section.social .profile-parameters ul li .social-label-container span {
    line-height: 45px;
    font-size: 18px;
  }
  #settings-buttons .btn-toolbar {
    float: none!important;
  }
  #settings-buttons .btn-toolbar .btn-group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  #settings-buttons .btn-toolbar .btn-group .btn {
    width: 100%;
    margin-left: 0;
  }
  .profile-edit-button {
    float: none;
    padding-right: 0;
    margin-bottom: 0;
  }
  .profile-edit-button .btn {
    width: 80%;
    margin: 0 10%;
  }
}
.label-okta {
  color: #007dc1;
  border: #aaaaaa solid 1px;
}
.label-okta:hover {
  color: #ffffff;
  background-color: #007dc1;
}
.label-onelogin {
  color: #1c1f2a;
  border: #aaaaaa solid 1px;
}
.label-onelogin:hover {
  color: #ffffff;
  background-color: #1c1f2a;
}
.label-windows {
  color: #3878d4;
  border: #aaaaaa solid 1px;
}
.label-windows:hover {
  color: #ffffff;
  background-color: #3878d4;
}
.label-google {
  color: #dd4b39;
  border: #aaaaaa solid 1px;
}
.label-google:hover {
  color: #ffffff;
  background-color: #dd4b39;
}
.label-facebook {
  color: #3b5998;
  border: #aaaaaa solid 1px;
}
.label-facebook:hover {
  color: #ffffff;
  background-color: #3b5998;
}
.label-hydroshare {
  color: #71a43a;
  border: #aaaaaa solid 1px;
}
.label-hydroshare:hover {
  color: #ffffff;
  background-color: #71a43a;
}
.label-arcgis {
  color: #005E95;
  border: #aaaaaa solid 1px;
}
.label-arcgis:hover {
  color: white;
  background-color: #005E95;
}
.label-linkedin {
  color: #007bb6;
  border: #aaaaaa solid 1px;
}
.label-linkedin:hover {
  color: #ffffff;
  background-color: #007bb6;
}
.label-custom-oauth {
  color: #666666;
  border: #aaaaaa solid 1px;
}
.label-custom-oauth:hover {
  color: #ffffff;
  background-color: #666666;
}
/*****************************************************************************
 * FILE: secondary_header
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
.tethys-secondary-header {
  position: relative;
  height: 100px;
  background: #1b95dc;
  margin-bottom: 70px;
}
.tethys-secondary-header .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 100;
}
.tethys-secondary-header .image-wrapper img {
  border-radius: 50%;
  width: 120px;
  background: #1b95dc;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.tethys-secondary-header .secondary-title-wrapper {
  float: left;
}
.tethys-secondary-header .secondary-title-wrapper .secondary-title {
  display: block;
  color: white;
  font-size: 40px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 21px 0;
  padding-left: 130px;
}
@media (max-width: 700px) {
  .tethys-secondary-header {
    height: 100px;
    margin-bottom: 0;
  }
  .tethys-secondary-header .image-wrapper {
    position: inline-block;
    padding: 10px 20px;
  }
  .tethys-secondary-header .image-wrapper img {
    width: 80px;
    box-shadow: none;
  }
  .tethys-secondary-header .secondary-title-wrapper .secondary-title {
    font-size: 40px;
    padding: 21px 0;
    padding-left: 50px;
  }
}
