/*****************************************************************************
 * FILE: tethys_main
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: variables
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: mixins
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: fonts
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/* =====
   Fonts
   ===== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
/*****************************************************************************
 * FILE: base
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'open sans', 'Myriad Pro', 'Lucida Grande', 'Helvetica', sans-serif;
  background: #ffffff;
  height: 100%;
}
section {
  padding: 0 40px;
}
.bucket {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  overflow: auto;
}
a.action {
  border-radius: 5px;
}
a {
  color: #2ca6ed;
}
a:hover {
  color: #0a84cb;
}
/* This parent can be any width and height */
.center-parent {
  text-align: center;
  /* The ghost, nudged to maintain perfect centering */
}
.center-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
/*****************************************************************************
 * FILE: page
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
#content {
  position: relative;
  min-height: 100%;
}
#content .row {
  margin-right: 0;
  margin-left: 0;
}
.primary {
  position: relative;
}
/*****************************************************************************
 * FILE: sticky_footer
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: buttons
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: alerts
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: header
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: home
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: ckan_tweaks
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: footer
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: account
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
/*****************************************************************************
 * FILE: user
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/
.profile-header {
  position: relative;
  height: 250px;
  background: #1b95dc;
}
.profile-header .profile-image-wrapper {
  position: absolute;
  top: 50px;
}
.profile-header .profile-image-wrapper img {
  border-radius: 50%;
}
.profile-header .profile-name {
  display: block;
  color: white;
  font-size: 60px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 130px;
  padding-left: 30px;
}
.profile-section {
  padding: 25px 0;
  color: #555555;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #555555;
}
.profile-section.first {
  margin-top: 75px;
}
.profile-section.last {
  border-bottom: none;
}
.profile-section .profile-section-header h3 {
  margin: 0;
  font-weight: 500;
}
.profile-section .profile-parameters {
  margin-top: 8px;
}
.profile-section .profile-parameters ul {
  padding: 0;
  margin: 0;
}
.profile-section .profile-parameters ul li {
  display: block;
  height: 28px;
  margin-bottom: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters ul li .parameter {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 20px;
  font-weight: 400;
}
.profile-section .profile-parameters ul li .value {
  float: left;
}
.profile-section .profile-parameters ul li .value.button {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -ms-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
.profile-section .profile-parameters ul li .value.button .btn {
  font-size: 13.5px;
}
.profile-section .profile-parameters ul > li:last-of-type {
  margin-bottom: 0;
}
.profile-section .profile-parameters label {
  width: 30%;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters label.error-label {
  text-align: left;
  margin-left: 30%;
  padding-left: 15px;
  width: 50%;
}
.profile-section .profile-parameters .form-control-static {
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.profile-section .profile-parameters .form-control-static .btn {
  margin-top: -4px;
}
.profile-section .profile-parameters .form-control {
  margin-top: 4px;
}
.profile-section.social .profile-parameters ul li {
  height: auto;
}
.profile-section.social .profile-parameters ul li .social-label-container {
  margin-left: 30%;
}
.profile-section.social .profile-parameters ul li .social-label-container span {
  line-height: 32px;
}
#settings-buttons {
  margin: 20px 0;
}
#settings-buttons .btn {
  width: 150px;
  margin-left: 10px;
}
.profile-edit-button {
  float: right;
  padding-top: 20px;
  padding-right: 10%;
  margin-bottom: -65px;
}
@media (max-width: 992px) {
  .profile-header {
    height: 125px;
  }
  .profile-header .profile-image-wrapper {
    top: 25px;
  }
  .profile-header .profile-image-wrapper img {
    height: 75px;
    width: 75px;
  }
  .profile-header .profile-name {
    font-size: 35px;
    padding-top: 38px;
    padding-left: 90px;
  }
  .profile-section.first {
    margin-top: 0;
  }
  .profile-section .profile-parameters ul li .parameter {
    float: none;
  }
  .profile-section .profile-parameters ul li .value {
    float: none;
  }
  .profile-section .profile-parameters label {
    width: 100%;
    padding-left: 0;
  }
  .profile-section .profile-parameters label.error-label {
    margin-left: 0;
    padding-left: 15px;
    width: 100%;
  }
  .profile-section.social .profile-parameters ul li .social-label-container {
    margin-left: 15px;
  }
  .profile-section.social .profile-parameters ul li .social-label-container span {
    line-height: 45px;
    font-size: 18px;
  }
  #settings-buttons .btn-toolbar {
    float: none!important;
  }
  #settings-buttons .btn-toolbar .btn-group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  #settings-buttons .btn-toolbar .btn-group .btn {
    width: 100%;
    margin-left: 0;
  }
  .profile-edit-button {
    float: none;
    padding-right: 0;
    margin-bottom: 0;
  }
  .profile-edit-button .btn {
    width: 80%;
    margin: 0 10%;
  }
}
.label-okta {
  color: #007dc1;
  border: #aaaaaa solid 1px;
}
.label-okta:hover {
  color: #ffffff;
  background-color: #007dc1;
}
.label-onelogin {
  color: #1c1f2a;
  border: #aaaaaa solid 1px;
}
.label-onelogin:hover {
  color: #ffffff;
  background-color: #1c1f2a;
}
.label-windows {
  color: #3878d4;
  border: #aaaaaa solid 1px;
}
.label-windows:hover {
  color: #ffffff;
  background-color: #3878d4;
}
.label-google {
  color: #dd4b39;
  border: #aaaaaa solid 1px;
}
.label-google:hover {
  color: #ffffff;
  background-color: #dd4b39;
}
.label-facebook {
  color: #3b5998;
  border: #aaaaaa solid 1px;
}
.label-facebook:hover {
  color: #ffffff;
  background-color: #3b5998;
}
.label-hydroshare {
  color: #71a43a;
  border: #aaaaaa solid 1px;
}
.label-hydroshare:hover {
  color: #ffffff;
  background-color: #71a43a;
}
.label-arcgis {
  color: #005E95;
  border: #aaaaaa solid 1px;
}
.label-arcgis:hover {
  color: white;
  background-color: #005E95;
}
.label-linkedin {
  color: #007bb6;
  border: #aaaaaa solid 1px;
}
.label-linkedin:hover {
  color: #ffffff;
  background-color: #007bb6;
}
.label-custom-oauth {
  color: #666666;
  border: #aaaaaa solid 1px;
}
.label-custom-oauth:hover {
  color: #ffffff;
  background-color: #666666;
}
/*****************************************************************************
 * FILE: secondary_header
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 *****************************************************************************/

