{% load static %}

<div class="form-group {% if error %} has-error {% endif %}">
  {% if display_text %}
    <label class="control-label" for="{{ name }}">{{ display_text }}</label>
  {% endif %}
  <select id="{{ name }}"
          name="{{ name }}"
          class="select2{% if classes %} {{ classes }}{% endif %}"
          {% if attributes %}
            {% for key, value in attributes.items %}
              {{ key }}="{{ value }}"
            {% endfor %}
          {% endif %}
          {% if multiselect %}multiple{% endif %}
          {% if disabled %}disabled{% endif %}>
    {% for option, value in options %}
      {% if option in initial or value in initial %}
        <option value="{{value}}" selected="selected">{{ option }}</option>
      {% else %}
        <option value="{{value}}">{{ option }}</option>
      {% endif %}
    {% endfor %}
  </select>
  {% if error %}
  <p class="help-block">{{ error }}</p>
  {% endif %}
</div>
