<div class="{% if vertical %} btn-group-vertical {% else %} btn-group {% endif %}">
{% for button in buttons %}
  {% if button.submit %}
  
  <button {% if button.name %}name="{{ button.name }}"{% endif %} class="btn{% if button.style %} btn-{{ button.style }} {% else %} btn-default {% endif %}" type='submit' {% if button.attributes %} {{ button.attributes }} {% endif %} {% if button.disabled %} disabled {% endif %}>
  	{% if button.icon %}<span class="{{ button.icon }}" ></span> {% endif %}{{ button.display_text }}
  </button>
  
  {% else %}
  
  <a {% if button.name %}name="{{ button.name }}"{% endif %} class="btn{% if button.style %} btn-{{ button.style }} {% else %} btn-default {% endif %}" {% if button.href %} href="{{ button.href }}" {% endif %} role="button" {% if button.attributes %} {{ button.attributes }} {% endif %} {% if button.disabled %} disabled{% endif %}>
    {% if button.icon %}<span class="{{ button.icon }}" ></span> {% endif %}{{ button.display_text }}
  </a>
  
  {% endif %}
{% endfor %}
</div>
