{% load static tethys %}


<div id="cesium_map_view_outer_container" style="height: 100%;">
    <div id="cesium_map_wrapper" style="height: {{ height|default:'100%' }}; width:{{ width|default:'100%'}};">
        <div id="cesium_map_view" style="width: 100%; height:100%; position: relative;"
            {% if classes %}class="{{ classes }}"{% endif %}
            {% if attributes %}
                {% for key, value in attributes.items %}
                    {{ key }}="{{ value }}"
                {% endfor %}
            {% endif %}
            data-cesium-ion-token="{{ cesium_ion_token }}"
            data-options="{{ options|jsonify }}"
            data-globe="{{ globe|jsonify }}"
            data-view="{{ view|jsonify }}"
            data-layer="{{ layers|jsonify }}"
            data-models="{{ models|jsonify }}"
            data-entities="{{ entities|jsonify }}"
            data-primitives="{{ primitives|jsonify }}"
            data-terrain="{{ terrain|jsonify }}"
            data-clock="{{ clock|jsonify }}"
            data-draw="{{ draw|jsonify }}">
            <div id="cesium_map_view_toolbar"></div>
            <div id="cesium_map_view_logging" style="display:none"></div>
        </div>
        <textarea id="cesium_map_view_geometry" name="geometry" rows="4" cols="180" hidden></textarea>
    </div>

</div> <!-- end outerContainer -->