{% load tethys %}

<table class="data_table_gizmo_view table{% if bordered %} table-bordered{% endif %}{% if hover %} table-hover{% endif %}{% if striped %} table-striped{% endif %}{% if condensed %} table-condensed{% endif %}{% if dark %} table-dark{% endif %}{% if classes %} {{ classes }}{% endif %}" width="100%"
  {% if attributes %}
    {% for key, value in attributes.items %}
      {{ key }}="{{ value }}"
    {% endfor %}
  {% endif %}

  {% if datatable_options %}
    {% for key, value in datatable_options.items %}
        data-{{ key }}="{{ value }}"
    {% endfor %}
  {% endif %}
  >
  <thead>
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for column_value in row %}
        <td>{{ column_value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% if footer %}
  <tfoot>
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
  </tfoot>
  {% endif %}
</table>
