{% load staticfiles tethys_gizmos %}

<!-- FC outerContainer -->
<div id="fc_outer_container" class="parent-container" data-date=""
data-ajax-url="{% url 'gizmos:single_request' %}"
{% if map %}
 data-map="{{ map|jsonify }}"
{% endif %}
 data-variables = "{{ variables|jsonify }}"
 data-server-url= {{ serverUrl }}
{% if grid %}
 data-grids="[{{ grid|jsonify }}]"
{% else %}
 data-grids=""
{% endif %}
{% if point %}
 data-points="[{{ point|jsonify }}]"
{% else %}
 data-points=""
{% endif %}
>
{% if map %}
  <!-- FC Map -->
  <div id="fetchclimate_map" class="center-parent" style="height: {{ map.css.height }}; width: {{ map.css.width }}; background-color:#efefef;">
  </div>
  <!-- FC Date -->
  <div id="fetchclimate_date" class="center-parent hidden">
{% else %}
  <div id="fetchclimate_date" class="center-parent">
{% endif %}
     <div class="form-group">
        <div class="input-daterange" id="fc_datepicker">
          <label for="start">Start Date (mm/dd/yyyy)</label>
          <input id="fc_start_date" class="form-control" value="01/01/1989" name="start"/>
          <label for="end">End Date (mm/dd/yyyy)</label>
          <input id="fc_end_date" class="form-control" value="01/01/1990" name="end"/>
        </div>

       <label class="control-label" for="fc_year_mode">Year Mode</label>
        <select class="time-control-select form-control" id="fc_year_mode">
          <option value="individual">Individual years</option>
          <option value="avg" selected="selected">Average over the years</option>
        </select>

       <label class="control-label" for="fc_day_mode">Day Mode</label>
        <select class="time-control-select form-control" id="fc_day_mode">
          <option value="individual">Individual days</option>
          <option value="avg" selected="selected">Average over the whole year</option>
        </select>

       <label class="control-label" for="fc_hour_mode">Hour Mode</label>
        <select class="time-control-select form-control" id="fc_hour_mode">
          <option value="individual">Individual hours</option>
          <option value="avg" selected="selected">Average over the whole day</option>
        </select>
      </div>
    </div> <!-- End FC Date -->
{% if plot %}
  <!-- FC Plot -->
  <div id="fetchclimate_plot" class="center-parent hidden"
  {%if plot.dimensions%} 
    data-plot-dimensions="{{plot.dimensions|jsonify}}"
  {%endif%}>
{% else %}
  <!-- FC Data -->
  <div id="fetchclimate_data" class="center-parent hidden">
{% endif %}
</div>
<div id="fc_control-buttons" class="stay-bottom">
  <div class="btn-group">
    <button name="prev_step_button" class="btn btn-default hidden" role="button" id="fc_prev_step_button">
      Prev Step</button>    
    <button name="next_step_button" class="btn btn-success " role="button" id="fc_next_step_button">
      <span class="glyphicon glyphicon-play"></span>Next Step</button>
  </div>
</div>
</div> 
<!-- end FC outerContainer -->
<!-- FetchClimate Script -->
{% if map %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  {% if maps_api_key %}
    <!-- App Developer API Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&key={{ maps_api_key }}&sensor=false"></script>
  {% else %}
    <!-- Global API Key -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
  {% endif %}
{% endif %}
