{% load staticfiles tethys_gizmos %}
<style>
	/* fix for scale bar distortion */
	#editable_google_map img {
		max-width: none;
	}
	
	/* This parent can be any width and height */
	.center-parent {
	  text-align: center;
	}
	 
	/* The ghost, nudged to maintain perfect centering */
	.center-parent:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}
	
	/* The element to be centered, can
	   also be of any width and height */ 
	.centered {
	  display: inline-block;
	  vertical-align: middle;
	  width: 300px;
	}
	
	#outer_container {
		position: relative;
		margin-bottom: 20px;
	}
	
	#editable_map_legend {
	    background-color: white;
	    background-color: rgba(255, 255, 255, 0.8);
	    padding: 10px;
	    margin: 10px;
	}
	
	.legend-color {
		height: 15px;
		width: 25px;
	}
	
	.legend-value {
		padding-left: 20px;
		font-size: 12pt;
	}
	
	#colorPickerModal {
		width: 230px;
	}
	
	.popover {
		width:auto;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 1.0);
	}
	
	.popover .arrow {
		border-width: 20px;
	}
	
	.popover.left .arrow {
		border-left-color: rgba(255, 255, 255, 1.0);
		margin-top: -14px;
	}
	
	.popover.left .arrow:after {
		border-left-color: #FFFFFF;
		border-left-color: rgba(255, 255, 255, 0.0);
	}
	
	#google_maps_async_loading {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.8);
	}
</style>

<div id="outer_container">
	<div id="editable_google_map_loading" class="center-parent" style="height: {{ height }}; width: {{ width }}; background-color:#efefef;">
		<div class="centered" on>
			<img src="{% static 'tethys_gizmos/images/ajax-loader.gif' %}" />
			<h5>Loading...</h5>
		</div>
	</div>
	<textarea id="geometry" name="geometry" rows="4" cols="300" hidden></textarea>
</div> <!-- end outerContainer -->

<div id="editable_map_legend" hidden></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% if maps_api_key %}
  <!-- App Developer API Key -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&key={{ maps_api_key }}&sensor=false"></script>
{% else %}
  <!-- Global API Key -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
{% endif %}
<script type="text/javascript">
  {% autoescape off %}
    // Pass action to JavaScript
    var kml_action = '';

    // Pass draw types to JavaScript
    var draw_polygons = false;
    var draw_points = false;
    var draw_polylines = false;
    var draw_rectangles = false;

    // Set the output format
    var output_format = 'GEOJSON';

    // Set the input overlay defaults
    var initial_overlays_string = '';

    // Legend items
    var initial_color_ramp_string = '';

    // Pass in initial drawing mode
    var initial_drawing_mode = '';

    {% if reference_kml_action %}
    // Pass in kml action url
    kml_action = "{{ reference_kml_action }}";
    {% endif %}

    {% if 'POLYGONS' in drawing_types_enabled %}
    // Enable polygon drawing capabilities
    draw_polygons = true;
    {% endif %}

    {% if 'POINTS' in drawing_types_enabled %}
    // Enable point drawing capabilities
    draw_points = true;
    {% endif %}

    {% if 'POLYLINES' in drawing_types_enabled %}
    // Enable polyline drawing capabilities
    draw_polylines = true;
    {% endif %}

    {% if 'BOXES' in drawing_types_enabled %}
    // Enable rectangle drawing capabilities
    draw_rectangles = true;
    {% endif %}

    {% if initial_drawing_mode in drawing_types_enabled %}
    // Set initial drawing mode
    initial_drawing_mode = "{{ initial_drawing_mode }}";
    {% endif %}

    {% if output_format == 'WKT' %}
    output_format = 'WKT';
    {% endif %}

    {% if input_overlays %}
    initial_overlays_string = '{{ input_overlays|jsonify }}';
    {% endif %}

    {% if color_ramp %}
    initial_color_ramp_string = '{{ color_ramp|jsonify }}';
    {% endif %}
	{% endautoescape %}
</script>


