<div data-toggle="tooltip" title="{{ job.status }}" align="left">
  {% if job.status == 'Complete' and results_url %}
    <a class='btn btn-primary btn-xs' href="{% url results_url job_id=job.id %}">View Results</a>
  {% elif job.status == 'Various-Complete' and results_url %}
    <a class='btn btn-danger btn-xs' title='Complete with Errors' href="{% url results_url job_id=job.id %}">View Results</a>
  {% elif job.status == 'Pending' and run %}
    <a data-job-id="{{ job.id }}" class='btn btn-success btn-xs btn-job-run' href="javascript:void(0)">Run</a>
  {% elif job.status == 'Various' %}
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar progress-bar progress-bar" role="progressbar" title="Aborted" aria-valuenow="{{ job.statuses.Aborted }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.statuses.Aborted }}%; background-color: #555555;">
        <span class="sr-only">{{ job.statuses.Aborted }}% Aborted</span>
      </div>
      <div class="progress-bar progress-bar-danger progress-bar" role="progressbar" title="Error" aria-valuenow="{{ job.statuses.Error }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.statuses.Error }}%">
        <span class="sr-only">{{ job.statuses.Error }}% Error</span>
      </div>
      <div class="progress-bar progress-bar-success progress-bar" role="progressbar" title="Complete" aria-valuenow="{{ job.statuses.Complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.statuses.Complete }}%">
        <span class="sr-only">{{ job.statuses.Complete }}% Complete</span>
      </div>
      <div class="progress-bar progress-bar-info progress-bar-striped active" title="Running" role="progressbar" aria-valuenow="{{ job.statuses.Running }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.statuses.Running }}%">
        <span class="sr-only">{{ job.statuses.Running }}% Running</span>
      </div>
    </div>
  {% elif job.status == 'Running' %}
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" title="Running" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
      </div>
    </div>
  {% elif job.status == 'Submitted' %}
{#    <img src="/static/tethys_gizmos/images/square-loader.gif" />#}
    <div class="progress" style="margin-bottom: 0;">
      <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" title="Submitted" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
      </div>
    </div>
  {% elif job.status == 'Error' %}
    <img src="/static/tethys_gizmos/images/warning.png" height="22px" width="22px" />
    <span style="vertical-align: middle;">
      {{ job.status }}
    </span>
  {% elif job.status == 'Aborted' %}
    <img src="/static/tethys_gizmos/images/cancel.png" height="18px" width="18px" />
    <span style="vertical-align: middle;">
      {{ job.status }}
    </span>
  {% else %}
    {{ job.status }}
  {% endif %}
</div>