{% load staticfiles tethys_gizmos %}

<td id="error-{{ job_id }}" colspan="4">
    <img src="/static/tethys_gizmos/images/job_error.png" height="20px" width="20px" />
    <span style="vertical-align: middle;">
      {{ error_msg }}
    </span>
</td>
<td>
    <a class='btn btn-primary btn-refresh-status btn-xs' data-job-id="{{ job_id }}" href="javascript:void(0)">Refresh Status</a>
</td>
<td>
  <a class='btn btn-danger btn-xs btn-job-delete' href="javascript:void(0)" data-job-id="{{ job_id }}" >Delete</a>
</td>
