{% load static tethys_gizmos %}

<td id="error-{{ job_id }}" colspan="{{ num_cols }}">
    <img src="/static/tethys_gizmos/images/job_error.png" height="20px" width="20px" style="margin-right: 5px;"/>
    <span style="vertical-align: middle;">
      {{ error_msg }}
    </span>
</td>
<td>
    <a class='btn btn-primary job-action job-action-refresh-status btn-xs' data-callback="update-row" data-job-id="{{ job_id }}" href="javascript:void(0)">Refresh Status</a>
</td>
<td>
  <a class='btn btn-danger btn-xs job-action job-action-delete' href="javascript:void(0)" data-callback="delete" data-job-id="{{ job_id }}" >Delete</a>
</td>
{% if show_resubmit_btn %}
<td>
  <a class='btn btn-warning btn-xs btn-job-resubmit' href="javascript:void(0)" data-job-id="{{ job_id }}" >Resubmit</a>
</td>
{% endif %}
{% if show_log_btn %}
<td>
  <a class='btn btn-info btn-xs btn-job-show-log' href="javascript:void(0)" data-job-id="{{ job_id }}" >Logs</a>
</td>
{% endif %}

