{% load static tethys_gizmos %}

<div id="jobs_table_overlay" class="hidden">
	<div class="cv-spinner" >
		<span class="spinner"></span>
	</div>
</div>

<div id="jobs-table-messages"></div>
<table class="table jobs-table{% if bordered %} table-bordered{% endif %}{% if hover %} table-hover{% endif %}{% if striped %} table-striped{% endif %}{% if condensed %} table-condensed{% endif %}{% if classes %} {{ classes }}{% endif %}"
       {% if attributes %}
           {% for key, value in attributes.items %}
               {{ key }}="{{ value }}"
           {% endfor %}
       {% endif %}
       data-column-fields="{{ column_fields }}"
       data-show-status="{{ show_status }}"
       data-show-actions="{{ show_actions }}"
       data-monitor-url="{{ monitor_url }}"
       data-results-url="{{ results_url }}"
       data-refresh-interval="{{ refresh_interval }}"
       data-actions="{{ actions|jsonify }}"
       data-enable-data-table="{{ enable_data_table|jsonify }}"
       data-data-table-options="{{ data_table_options|jsonify }}"
>
  <thead>
    {% for column_name in column_names %}
      <th>{{ column_name }}</th>
    {% endfor %}
    {% if show_status %}
      <th class="status-col no-sort">Status</th>
    {% endif %}
    {% if show_actions %}
      <th class="actions-col no-sort">Actions</th>
    {% endif %}
  </thead>
  <tbody>
  {% for row in rows %}
    {% with row_idx=forloop.counter0 %}
      {% with job=jobs|return_item:row_idx %}
        {% if job.type == 'DaskJob' and show_detailed_status %}
          <tr class="bokeh-nodes-row" id="bokeh-nodes-row-{{ job.id }}" data-job-id="{{ job.id }}"></tr>
        {% endif %}
        <tr class="job-row" id="jobs-table-row-{{ job.id }}" data-job-id="{{ job.id }}">
          {% include "tethys_gizmos/gizmos/job_row.html" %}
        </tr>
        {% if job.type == 'CondorWorkflow' and show_detailed_status %}
        <tr class="workflow-nodes-row" id="workflow-nodes-row-{{ job.id }}" data-job-id="{{ job.id }}">
          {% include "tethys_gizmos/gizmos/workflow_nodes_row.html" %}
        </tr>
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% empty %}
    <tr>
      <td colspan="100" align="center">No Jobs</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{# Logs Modal #}
<div id="modal-dialog-jobs-table-show-log" title="Logs" class="modal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalJobLogTitle">Logs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-dialog-jobs-table-log-nav"></div>
      <div class="modal-body" id="modal-dialog-jobs-table-log-body">
        <div id="modal-dialog-jobs-table-log-content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="tethys_log_refresh_job_id" value="">Refresh</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{# Confirmation Modal #}
<div id="modal-dialog-jobs-table-confirm" title="Confirm" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-job-confirm-title">Confirm Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-dialog-jobs-table-confirm-content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="tethys_jobs-table-confirm" value="">Yes</button>
      </div>
    </div>
  </div>
</div>
