{% load static tethys_gizmos %}

<div id="jobs-table-messages"></div>
<table class="table{% if bordered %} table-bordered{% endif %}{% if hover %} table-hover{% endif %}{% if striped %} table-striped{% endif %}{% if condensed %} table-condensed{% endif %}{% if classes %} {{ classes }}{% endif %}"
        {% if attributes %}
            {% for key, value in attributes.items %}
                {{ key }}="{{ value }}"
            {% endfor %}
        {% endif %}
       data-column-fields="{{ column_fields }}" data-status-actions="{{ status_actions }}" data-run="{{ run }}" data-delete="{{ delete }}" data-results-url="{{ results_url }}" data-refresh-interval="{{ refresh_interval }}">
  <tr>
    {% for column_name in column_names %}
      <th>{{ column_name }}</th>
    {% endfor %}
    {% if status_actions %}
      <th class="status-col{% if delete %} span-two" colspan="2"{% else %}"{% endif %}>Status</th>
    {% endif %}
  </tr>

  {% for row in rows %}
    {% with row_idx=forloop.counter0 %}
      {% with job=jobs|return_item:row_idx %}
        {% if job.type == 'DaskJob' and show_detailed_status %}
          <tr class="bokeh-nodes-row" id="bokeh-nodes-row-{{ job.id }}" data-job-id="{{ job.id }}"></tr>
        {% endif %}
        <tr class="job-row" id="jobs-table-row-{{ job.id }}" data-job-id="{{ job.id }}">
          {% include "tethys_gizmos/gizmos/job_row.html" %}
        </tr>
        {% if job.type == 'CondorWorkflow' and show_detailed_status %}
        <tr class="workflow-nodes-row" id="workflow-nodes-row-{{ job.id }}" data-job-id="{{ job.id }}">
          {% include "tethys_gizmos/gizmos/workflow_nodes_row.html" %}
        </tr>
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% empty %}
    <tr>
      <td colspan="100" align="center">No Jobs</td>
    </tr>
  {% endfor %}
</table>
