{% load static tethys %}
  <!-- the style for 

    - .tethys-map-view-draw-control
    - .tethys-map-view-draw-icon
    
    were moved from: "tethys_gizmos/static/tethys_gizmos/less/tethys_map_view.less" 
    
    to this template because it needs to render the staticfiles dynamically in case the STATIC_URL setting is other than /static/ 
  
  -->
<style>

  
  {% if controls and 'ZoomSlider' in controls %}
  .ol-zoom-extent {
    top: 16.8em;
  }
  {% endif %}

  {% if controls and 'FullScreen' in controls %}
  .ol-rotate {
    top: 40px;
  }
  {% endif %}
  .tethys-map-view-draw-control .tethys-map-view-draw-icon {
    background: url('{% static "tethys_gizmos/images/map-view-drawing-icons.gif" %}') no-repeat;
  }
</style>

<div id="map_view_outer_container">
  <div id="map_wrapper" style="height: {{ height|default:'100%' }}; width:{{ width|default:'100%'}};">
    <div id="map_view" style="width: 100%; height:100%; position: relative;"
         {% if classes %}class="{{ classes }}"{% endif %}
         {% if attributes %}
             {% for key, value in attributes.items %}
                 {{ key }}="{{ value }}"
             {% endfor %}
         {% endif %}
         {% if controls %}data-controls="{{ controls|jsonify }}"{% endif %}
         {% if interactions %}data-interactions="{{ interactions|jsonify }}"{% endif %}
         {% if layers %}data-layers="{{ layers|jsonify }}"{% endif %}
         {% if draw %}data-draw="{{ draw|jsonify }}"{% endif %}
         {% if view %}data-view="{{ view|jsonify }}"{% endif %}
         {% if basemap %}data-base-map="{{ basemap|jsonify }}"{% endif %}
         {% if legend %}data-legend="{{ legend|jsonify }}"{% endif %}
         {% if disable_basemap %}data-disable-base-map="{{ disable_basemap|jsonify }}"{% endif %}
         {% if feature_selection %}data-feature-selection="{{ feature_selection|jsonify }}"{% endif %}
         data-show-clicks="{{ show_clicks|jsonify }}"></div>
    <textarea id="map_view_geometry" name="geometry" rows="4" cols="180" hidden></textarea>
  </div>
</div> <!-- end outerContainer -->