{% load tethys %}

<div class="{% if engine == 'd3' %}d3-plot{% else %}highcharts-plot{% endif %}{% if classes %} {{ classes }}{% endif %}"
  {% if plot_object|isstring %}
    data-json="{{ plot_object }}"
  {% else %}
    data-json="{{ plot_object|jsonify }}"
  {% endif %}
  style="{% if width %}min-width: {{ width }};{% endif %} {% if height %}height: {{ height }};{% endif %} margin: 0 auto;"
  {% if attributes %}
      {% for key, value in attributes.items %}
          {{ key }}="{{ value }}"
      {% endfor %}
  {% endif %}>
</div>