<div class="form-group {% if error %} has-error {% endif %}">
	{% if display_text %}<label class="control-label" for="{{ name }}">{{ display_text }}</label>{% endif %}
	<div class="input-group">
    <span class="input-group-addon slider-before">{{ min }}</span>
    <input id="{{ name }}"
           class="slider-input form-control"
           name="{{ name }}"
           type="range" min="{{ min }}"
           max="{{ max }}"
           step="{{ step }}"
           value="{{ initial }}"
           oninput="updateSliderDisplayValue('{{ name }}', this);"
           {% if disabled %}disabled{% endif %}>
    <span class="input-group-addon slider-after">{{ max }}</span>

  </div>

  {# <span class="slider-value" for="{{ name }}" style="padding-left:50px;">{{ initial }}</span> #}

	{% if error %}
	<p class="help-block">{{ error }}</p>
	{% endif %}
</div>
