
{% if display_text %}
<label class="form-label" for="{{ name }}">{{ display_text }}</label>
{% endif %}
<div class="input-group mb-3{% if error or success %} has-validation{% endif %}">
    <input id="{{ name }}"
        class="slider-input form-range{% if error %} is-invalid{% endif %}{% if success %} is-valid{% endif %}{% if classes %} {{ classes }}{% endif %}"
        name="{{ name }}"
        type="range"
        min="{{ min }}"
        max="{{ max }}"
        step="{{ step }}"
        value="{{ initial }}"
        {% if disabled %}disabled{% endif %}
        {% if attributes %}
            {% for key, value in attributes.items %}
                {{ key }}="{{ value }}"
            {% endfor %}
        {% endif %}>
    <span class="slider-after">{{ initial }}</span>
    {% if error %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endif %}
    {% if success %}
    <div class="valid-feedback">{{ success }}</div>
    {% endif %}
</div>

