{% if not original %}
  {% load staticfiles tethys_gizmos %}
{% endif %}
<div class="form-group {% if error %} has-error {% endif %}">
  {% if display_text %}<label class="control-label" for="{{ name }}">{{ display_text }}</label>{% endif %}
  {{ initial_is_iterable }}
  <select id="{{ name }}" class="{% if not original %}select2{% else %}form-control{% endif %}{% if classes %} {{ classes }}{% endif %}"
    name="{{ name }}" {% if not original %}style="width:100%;"{% endif %}
    {% if multiple %}multiple{% endif %} {% if disabled %}disabled{% endif %}
    {% if attributes %}
        {% for key, value in attributes.items %}
            {{ key }}="{{ value }}"
        {% endfor %}
    {% endif %}>
    {% for option, value in options %}
      {% if initial_is_iterable %}
        {% if option in initial or value in initial %}
        <option value="{{value}}" selected="selected">{{ option }}</option>
        {% else %}
        <option value="{{value}}">{{ option }}</option>
        {% endif %}
      {% else %}
        {% if option == initial or value == initial %}
        <option value="{{value}}" selected="selected">{{ option }}</option>
        {% else %}
        <option value="{{value}}">{{ option }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
  {% if error %}
  <p class="help-block">{{ error }}</p>
  {% endif %}
</div>
