<div id="{{ id }}" class="slide-sheet" style="display: none;">
    <div class="slide-sheet-content">
      <div class="row">
        <div class="col-md-11">
          {% if title %}
            <h3 class="slide-sheet-title">{{ title }}</h3>
          {% endif %}
        </div>
        <div class="col-md-1">
          <a type="button" class="close" aria-label="Close" onclick="SLIDE_SHEET.close('{{ id }}');"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
        <div class="row">
            <div class="col-md-12 slide-sheet-body">
              {% if content_template %}
                {% include content_template %}
              {% endif %}
            </div>
        </div>
    </div>
</div>