<div class="form-group {% if error %} has-error {% endif %}">
  {% if display_text %}<label class="control-label" for="{{ name }}">{{ display_text }}</label>{% endif %}
  <div class="input-group">
      {% if prepend %}
        <div class="input-group-addon">{{ prepend }}</div>
      {% elif icon_prepend %}
        <div class="input-group-addon"><span class="{{ icon_prepend }}"></span></div>
      {% endif %}
      <input id="{{ name }}" class="form-control"
           name="{{ name }}"
           type="text"
           {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
           {% if initial %}value="{{ initial }}"{% endif %}
           {% if disabled %}disabled{% endif %} >
      {% if append %}
        <div class="input-group-addon">{{ append }}</div>
      {% elif icon_append %}
        <div class="input-group-addon"><span class="{{ icon_append }}"></span></div>
      {% endif %}
  </div>
  {% if error %}
  <p class="help-block">{{ error }}</p>
  {% endif %}
</div>
