{% if display_text %}
<label class="form-label" for="{{ name }}">{{ display_text }}</label>
{% endif %}
<div class="input-group{% if error or success %} has-validation{% endif %}">
    <input class="form-control bootstrap-switch{% if error %} is-invalid{% endif %}{% if success %} is-valid{% endif %}{% if classes %} {{ classes }}{% endif %}" id="{{ name }}"
        name="{{ name }}"
        type="checkbox"
        {% if size %}data-size="{{ size }}"{% endif %}
        data-on-text="{% if on_label %}{{ on_label }}{% else %}ON{% endif %}"
        data-off-text="{% if off_label %}{{ off_label }}{% else %}OFF{% endif %}"
        data-on-color="{% if on_style %}{{ on_style }}{% else %}primary{% endif %}"
        data-off-color="{% if off_style %}{{ off_style }}{% else %}default{% endif %}"
        {% if disabled %}disabled{% endif %}
        {% if initial %}checked{% endif %}
        {% if attributes %}
            {% for key, value in attributes.items %}
                {{ key }}="{{ value }}"
            {% endfor %}
        {% endif %}>
  {% if error %}
  <div class="invalid-feedback" style="display: block;">{{ error }}</div>
  {% endif %}
  {% if success %}
  <div class="valid-feedback" style="display: block;">{{ success }}</div>
  {% endif %}
</div>
