{#
Renders a media item for an app. This should be used in a list.

app - An app dict.
first - Pass true if this is the first item in a row.
last  - Pass true if this is the last item in a row.

Example:

    <ul class="media-grid">
	  {% for app in apps %}
	    {% set first = loop.index0 % 3 == 0 %}
	    {% set last  = loop.index0 % 3 == 2 %}
	    {% snippet "apps/snippets/app_item.html", app=app, first=first, last=last %}
	  {% endfor %}
    </ul>
#}
<li class="app-item media-item media media-vertical{% if first %} first{% endif %}{% if last %} last{% endif %}">
  <div class="app-item-wrapper">
	  <a class="app-icon media-image" href="{% url_for(app.index) %}">
	  	<div class="bg-image" style="background-image: url({% if app.icon %} {{ app.icon }} {% else %} {{ '/base/images/placeholder-group.png' }} {% endif %});" alt="{{ app.name }}"></div>
	  </a>
	  <div class="app-title media-content">
	  	<a class="media-heading" href="{% url_for(app.index) %}">{{ app.name }}</a>
	  </div>
  </div>
</li>