{% extends "page.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static '/tethys_portal/css/403error.css' %}" type="text/css" rel="stylesheet" />
  <style>
    body {
      background: {{ site_globals.background_color|default:'#ffffff' }};
    }
  </style>
{% endblock %}

{% block primary_content %}
  <div class="error-container">
      <div class="error-image-container center-parent">
        {% block error_image %}
          <img class="centered" src="{{ error_image }}">
        {% endblock %}
      </div>
      <div class="error-message-container">
        <h2>{{ error_title }}</h2>
        <p>{{ error_message }}</p>
      </div>
  </div>
{% endblock %}