{% extends "page.html" %}

{% load staticfiles %}

{% block title %}- Welcome!{% endblock %}

{% block styles %}
  {{ block.super }}
  <style>
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }

    .blurb h3 {
      color: {{ site_globals.primary_text_color|default:'#ffffff' }};
    }

		.hero-message h2 {
		  color: {{ site_globals.secondary_text_color|default:'#666666' }};
		}

		.features .feature h4 {
		  color: {{ site_globals.secondary_text_color|default:'#666666' }};
		}

		.features .feature span {
		  color: {{ site_globals.secondary_text_color|default:'#666666' }};
		}

		.hero-background {
		  background-color: {{ site_globals.background_color|default:'#ffffff' }};
		}

		.hero-message a:hover {
		  background-color: {{ site_globals.secondary_color|default:'#1b95dc' }};
		}
  </style>
{% endblock %}

{% block content %}
<section class="hero clearfix">
	<div class="hero-background"></div>
	<div class="bucket clearfix">
		<div class="hero-message" style="margin-top: 0px;">
			<h2>{% if site_globals.hero_text %}{{ site_globals.hero_text }}{% else %}Welcome to Tethys Portal,
the hub for your apps.{% endif %}</h2>
			{% if not user.is_authenticated %}
			  <a href="{% url 'accounts:register' %}" class="action hero-action">Sign Up</a>
			{% endif %}
		</div>
	</div>
</section>

<section class="blurb clearfix" style="background-color: {{ site_globals.primary_color|default:'#0a62a9' }};">
	<div class="bucket clearfix">
		<h3>{% if site_globals.blurb_text %}{{ site_globals.blurb_text }}{% else %}Tethys Portal is designed to be customizable, so that you can host apps for your
organization. You can change everything on this page from the Home Page settings.{% endif %}</h3>
	</div>
</section>

<section class="features clearfix">
	<div class="bucket clearfix">
		<div class="feature one">
			<img src="{% static site_globals.feature_1_image|default:'/static/tethys_portal/images/placeholder.gif' %}" alt="">
			<h4>{{ site_globals.feature_1_heading|default:"Feature 1" }}</h4>
			<span>{{ site_globals.feature_1_body|default:"Use these features to brag about all of the things users can do with your instance of Tethys Portal." }}</span>
		</div>
		<div class="feature two">
			<img src="{% static site_globals.feature_2_image|default:'/static/tethys_portal/images/placeholder.gif' %}" alt="">
			<h4>{{ site_globals.feature_2_heading|default:"Feature 2" }}</h4>
			<span>{{ site_globals.feature_2_body|default:"Describe the apps and tools that your Tethys Portal provides and add custom pictures to each feature as a finishing touch." }}</span>
		</div>
		<div class="feature three">
			<img src="{% static site_globals.feature_3_image|default:'/static/tethys_portal/images/placeholder.gif' %}" alt="">
			<h4>{{ site_globals.feature_3_heading|default:"Feature 3" }}</h4>
			<span>{{ site_globals.feature_3_body|default:"You can change the color theme and branding of your Tethys Portal in a jiffy. Visit the Site Admin settings from the user menu and select General Settings." }}</span>
		</div>
	</div>
</section>
<section class="get-started clearfix">
	<div class="get-started-background"></div>
	<div class="bucket clearfix">
		<div class="get-started-message">
			{% if not user.is_authenticated %}
			  <h2>{{ site_globals.call_to_action|default:"Ready to get started?" }}</h2>
			  <a class="action hero-action" href="{% url 'accounts:login' %}">{{ site_globals.call_to_action_button|default:"Start Using Tethys!" }}</a>
			{% endif %}
		</div>
	</div>
</section>
<div id="home-page" style="display: none;"></div>
{% endblock %}