body {
  background: #efefef;
}
.no-apps-loaded-message {
  width: 50%;
  margin: 100px auto;
  margin-bottom: 150px;
  text-align: center;
}
/* Tag Search */
.tag-search-field {
  width: 100%;
}

.select2 {
  width: 100%!important;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 22px!important;
}

/* App Cards */
.app-link-wrapper {
  text-decoration: none;
  color:#666666;
}
.app-link-wrapper:hover {
  color: #666666;
}
.app-link-wrapper.unconfigured .app-card {
  background: #666666;
}
.app-link-wrapper.unconfigured:hover .app-card {
  background: #555555;
}
.app-link-wrapper.unconfigured .app-card .app-title {
  color: #ffffff;
}
.app-link-wrapper.veiled .app-card {
  opacity: 0.6;
}
.app-card {
    width: 200px;
}
.app-card:hover {
    background: #dddddd;
}

.app-help-icon {
  border-radius: 50%;
  font-size: 10pt;
  line-height: 1;
  margin-top: 3px;
  margin-right: 3px;
  background: white;
}

.app-help-icon:hover {
    background: #dddddd;
    cursor: pointer;
}

.app-help-info .btn-close {
  width: 0.25em;
  height: 0.25em;
}