body {
  background: #efefef;
}
.no-apps-loaded-message {
  width: 50%;
  margin: 100px auto;
  margin-bottom: 150px;
  text-align: center;
}
/* Tag Search */
.tag-search-field {
  width: 100%;
}

.select2 {
  width: 100%!important;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 22px!important;
}

/* App Cards */
.app-container {
  text-decoration: none;
  color:#666666;
}
.app-container:hover {
  color: #666666;
}
.app-container.unconfigured .app-card {
  background: #666666;
}
.app-container.unconfigured:hover .app-card {
  background: #555555;
}
.app-container.unconfigured .app-card .app-title {
  color: #ffffff;
}
.app-container.veiled .app-card {
  opacity: 0.6;
}
.app-card {
    width: 200px;
}
.app-card:hover {
    background: #dddddd;
}