*.egg-info
*.pyc
*.class
*.pyo
*.pydevproject
*.project
*.idea
*.vscode
*.sqlite3
*.db
*.whl
build/
dist/
docs/_build
*~
tethys_gizmos/static/tethys_gizmos/less/bower_components/*
node_modules
.eggs/
.coverage*
tests/coverage_html_report
.*.swp
.DS_Store
dask-worker-space
portal_config.yml
tests/extensions/*/build/*
tests/apps/*/build/*
tests/extensions/*/dist/*
tests/apps/*/dist/*
tests/extensions/*/build/*
tests/apps/*/build/*
tests/extensions/*/dist/*
tests/apps/*/dist/*
build/
dist/
tethys_portal/_version.py
# Required for docs build
git-lfs-*/*
conda.recipe/meta.yaml
tethysapp-*
_build
