*.egg-info
*.pyc
*.class
*.pyo
*.pydevproject
*.project
*.idea
*.sqlite3
*.db
tethys_apps/settings.py
tethys_apps/settings.py_bak
settings.py
docs/_build
*~
tethys_gizmos/static/tethys_gizmos/less/bower_components/*
.coverage
tests/coverage_html_report
.*.swp
.DS_Store
