docs/* linguist-documentation
docs/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
docs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/**/*.gif filter=lfs diff=lfs merge=lfs -text
docs/**/*.zip filter=lfs diff=lfs merge=lfs -text
docs/**/*.ico filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
