django-gravatar2
django-social-auth
django-bootstrap3
django-tethys_apps
django-tethys_gizmos
django-tethys_datasets
django-tethys_wps
sphinxcontrib-napoleon
paste
psycopg2
sphinx
sqlalchemy
mapkit>=1.1.0
gsshapy>=2.0.0
geoalchemy2