{% extends "page.html" %}

{% load bootstrap3 %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <style>
    label {
      display: none;
    }
  </style>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>Reset Password</h1>
        </div>
        <div class="account-form-body">
          <span class="help-block">Please enter the email address associated with your account.</span>
          <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" id="register-submit" class="btn btn-default" name="reset-submit" value="Reset Password">
            <span class="help-block">Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}