{% extends "page.html" %}

{% load bootstrap3 %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>Reset Complete</h1>
        </div>
        <div class="account-form-body">
          <p>You're password has been reset, please log in now.</p>
          <p><a class="btn btn-default" href="{% url 'accounts:login' %}">Log In</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}