{% extends "page.html" %}

{% load static tethys_gizmos %}

{% block title %} - Dask Scheduler{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% gizmo_dependencies css %}
  {% gizmo_dependencies js %}
  {{ the_script|safe}}
  <script src="{% static 'tethys_compute/js/dashboard.js' %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
   {{ block.super }}
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css">
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css">
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-gl-0.13.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'tethys_compute/css/bokeh.css' %}">
{% endblock %}

{% block content %}
  {% include 'tethys_compute/dask_scheduler_header.html' %}
  <div id="scheduler_title"><h1>{{ the_name }}</h1></div>
  <div id='CPU' style="position: relative; left: 2%; width: 46%; height: 400px; margin-bottom: 2em; display: inline-block;">
    <div id="{{the_divs.CPU.id}}" style="left: 2%; height: 400px"></div>
  </div>
  <div id='Memory' style="position: relative; left: 4%; width: 46%; height: 400px; margin-bottom: 2em; display: inline-block;">
    <div id="{{the_divs.Memory.id}}" style="left: 2%; height: 400px"></div>
  </div>
  <div id='Bandwidth' style="position: relative; left: 2%; width: 46%; height: 400px; margin-bottom: 2em; display: inline-block;">
    <div id="{{the_divs.Bandwidth.id}}" style="left: 2%; height: 400px"></div>
  </div>
  <div id='Number_of_File_Descriptors' style="position: relative; left: 4%; width: 46%; height: 400px; margin-bottom: 2em; display: inline-block;">
    <div id="{{the_divs.Number_of_File_Descriptors.id}}" style="left: 2%; height: 400px"></div>
  </div>
{% endblock %}