  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {% if 'status' in request.path %}class="active"{% endif %}><a href="{{ status_link }}"> Status </a></li>
          <li {% if 'workers' in request.path %}class="active"{% endif %}><a href="{{ workers_link }}">Workers</a></li>
          <li {% if 'tasks' in request.path %}class="active"{% endif %}><a href="{{ tasks_link }}">Tasks</a></li>
          <li {% if 'system' in request.path %}class="active"{% endif %}><a href="{{ systems_link }}">System</a></li>
          <li {% if 'profile' in request.path %}class="active"{% endif %}><a href="{{ profile_link }}">Profile</a></li>
          <li {% if 'graph' in request.path %}class="active"{% endif %}><a href="{{ graph_link }}">Graph</a></li>
          <li {% if 'back' in request.path %}class="active"{% endif %}><a href="/admin/tethys_compute/daskscheduler">Back</a></li>
        </ul>
      </div>
    </div>
  </nav>