{% extends "page.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>Reset Password</h1>
        </div>
        <div class="account-form-body">
          {% if validlink %}
            <form role="form" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" id="register-submit" class="btn btn-default" name="register-submit">Sign Up</button>
              <span class="help-block">Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
            </form>
          {% else %}
            <p>This reset link is no longer valid!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}