{% load static tethys %}
<div class="app-card-container position-relative">
    <a class="app-link-wrapper rounded d-block mt-4 unconfigured"
       title="Add App"
       data-bs-toggle="modal" 
       data-bs-target="#modal-add-app"
    >
        <div class="card app-card add-app-card text-center">
            <div class="card-body">
                <span class="bi bi-plus"></span>
                <h5 class="card-title app-title mt-2 mb-0" title="Add App">Add App</h5>
            </div>
        </div>
    </a>
</div>
