{% load static tethys %}
<div class="app-card-container position-relative">
    <a class="app-link-wrapper rounded d-block mt-4 unconfigured"
       title="Not Configured"
       href="{% url action_url %}"
    >
        <div class="card app-card text-center">
            <div class="card-body">
                <img class="card-img-top" src="{% static 'tethys_apps/images/default_app_icon.gif' %}" alt="">
                <h5 class="card-title app-title mt-2 mb-0" title="{{action_title}} App">{{action_title}} App</h5>
            </div>
        </div>
    </a>
</div>
