{% extends "tethys_apps/app_base.html" %}

{% load static tethys %}

{% block styles %}
  {{ block.super }}
	<style>
		#app-content-wrapper #app-content {
			position:relative;
			width:100%;
			padding-top:50px;
			padding-right:50px;
			padding-bottom:0
		}

		#app-content-wrapper #app-content #app-actions {
			position:absolute;
			width:50px;
			height:100%;
			bottom:0;
			padding:0 15px;
			display:flex;
			flex-direction:column;
			justify-content:flex-start
		}

		#app-content-wrapper #app-content #app-actions .btn, #app-content-wrapper #app-content #app-actions .btn-group {
			width: 42px;
			padding: 10px 7px;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 4px;
			margin-left: 0
		}

		#app-content-wrapper #app-content #app-actions #app-actions-spacer {
			height: 54px
		}

		#nav-title-wrapper {
		  margin-left: 15px;
		}
	</style>
{% endblock %}

{% block app_navigation_override %}{% endblock %}

{% block app_actions_override %}
  <div id="app-actions">
    <div id="app-actions-spacer"></div>
    {% block app_actions %}{% endblock %}
  </div>
{% endblock %}
