
{% extends "base.html" %}

{% load static tags site_settings %}

{% block title %}{{ block.super }} - {% if site_globals.apps_library_title %}{{ site_globals.apps_library_title }}{% else %}Apps{% endif %}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_apps/css/app_library.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/select2@{{ tethys.select2.version }}-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }
  </style>
  {{ site_globals.apps_library_css|load_custom_css|safe }}
{% endblock %}

{% block global_scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/select2@{{ tethys.select2.version }}-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block primary_content %}
  {# Push content below header #}
  <div class="clear-header"></div>
  <div class="app-libary-wrapper">
    {% if apps.configured or apps.unconfigured %}
      {# Tag Search #}
      {% if apps|get_tags_from_apps %}
      <div class="container-xl">
        <div class="row justify-content-center mt-4">
          <div class="col-md-6">
            <select class="tag-search-field" name="tags" multiple="multiple">
              {% for tag in apps|get_tags_from_apps %}
              <option value="{{ tag.0 }}">{{ tag.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% endif %}
      {# App List #}
      <div class="container-xl">
        <div class="row row-cols-auto justify-content-center mb-4 mx-4">
          {% for app in apps.configured %}
            <div class="col">
              {% include 'tethys_apps/app_card.html' with app=app unconfigured=False %}
            </div>
          {% endfor %}
          {% for app in apps.unconfigured %}
            <div class="col">
              {% include 'tethys_apps/app_card.html' with app=app unconfigured=True %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h2 class="no-apps-loaded-message">There are no apps loaded.</h2>
    {% endif %}
  </div>
  <div id="app-library-curtain"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'tethys_apps/js/app_library.js' %}" type="text/javascript"></script>
{% endblock %}