
{% extends "base.html" %}

{% load static tags site_settings %}

{% block title %}{{ block.super }} - {% if site_globals.apps_library_title %}{{ site_globals.apps_library_title }}{% else %}Apps{% endif %}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_apps/css/app_library.css' %}" rel="stylesheet" />
  <style>
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }
  </style>
  {{ site_globals.apps_library_css|load_custom_css|safe }}
{% endblock %}

{% block primary_content %}
  <div class="clear-header"></div>
  <div class="app-libary-wrapper mt-5">
    {% if apps.configured or apps.unconfigured %}
      <div class="container" align="center">
        <div class="row">
          <div class="col">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                {% if apps|get_tags_from_apps %}
                    <li><a href="#" data-filter="*" class="tag-button active" >All </a></li>
                    {% for tag in apps|get_tags_from_apps%}
                    {% if tag %}
                    <li><a href="#" data-filter=".{{ tag }}" class="tag-button">{{ tag }}</a></li>
                    {% endif %}
                    {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container isotopeContainer">
        <div class="row row-cols-auto">
          {% for app in apps.configured %}
            <div class="col">
              {% include 'tethys_apps/app_card.html' with app=app unconfigured=False %}
            </div>
          {% endfor %}
          {% for app in apps.unconfigured %}
            <div class="col">
              {% include 'tethys_apps/app_card.html' with app=app unconfigured=True %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h2 class="no-apps-loaded-message">There are no apps loaded.</h2>
    {% endif %}
  </div>
  <div id="app-library-curtain"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'tethys_apps/vendor/imagesloaded.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'tethys_apps/vendor/masonry.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'tethys_apps/js/app_library.js' %}" type="text/javascript"></script>
  <script src="{% static 'tethys_apps/js/isotope.pkgd.min.js' %}" type="text/javascript"></script>
{% endblock %}