{% extends "tethys_apps/app_base.html" %}
{% load static tethys reactpy %}

{% block htmltag %}
<!--[if IE 7]> <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en"  class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en"  class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
{% endblock %}

{% block title %}{{ title }} | {{ tethys_app.name }}{% endblock %}

{% block styles %}
  <style>
    html { box-sizing: border-box; }
    *, *:before, *:after { box-sizing: inherit; }
    body { height: 100%; }
  </style>
  <link href="{% static 'tethys_apps/css/loader.css' %}" rel="stylesheet" />
  {% if tethys_app.enable_feedback %}
    <link href="{% static 'tethys_apps/css/feedback.css' %}" rel="stylesheet" />
  {% endif %}
  <link href="{% static 'tethys_portal/css/termsandconditions.min.css' %}"  rel="stylesheet" />
{% endblock %}

{% block app_styles %}
  {% for css in custom_css %}
    <link href="{{ css }}" rel="stylesheet" />
  {% endfor %}
  {{ block.super }}
{% endblock %}
{% block bodytag %}{% endblock %}
{% block global_scripts %}
<script type="importmap">
{
  "imports": {
    "react": "https://esm.sh/react@{{ reactjs_version }}",
    "react/": "https://esm.sh/react@{{ reactjs_version }}/",
    "react-dom": "https://esm.sh/react-dom@{{ reactjs_version }}?deps=react@{{ reactjs_version }}&external=react",
    "react-dom/": "https://esm.sh/react-dom@{{ reactjs_version }}&deps=react@{{ reactjs_version }}&external=react/"
  }
}
</script>
<script type="module">
  import React from "react"
  import ReactDOM from "react-dom{% if reactjs_version_int > 17 %}/client{% endif %}"
  globalThis['React'] = React
  globalThis['ReactDOM'] = ReactDOM
</script>

{% endblock %}

{% block app_content_wrapper_override %}
  <div id="loading-root">
    <div class="center"></div>
    <div class="inner-spin">
      <div class="inner-arc inner-arc_start-a"></div>
      <div class="inner-arc inner-arc_end-a"></div>
      <div class="inner-arc inner-arc_start-b"></div>
      <div class="inner-arc inner-arc_end-b"></div>
      <div class="inner-moon-a"></div>
      <div class="inner-moon-b"></div>
    </div>
    <div class="outer-spin">
      <div class="outer-arc outer-arc_start-a"></div>
      <div class="outer-arc outer-arc_end-a"></div>
      <div class="outer-arc outer-arc_start-b"></div>
      <div class="outer-arc outer-arc_end-b"></div>
      <div class="outer-moon-a"></div>
      <div class="outer-moon-b"></div>
    </div>
    <div id="loading-text">Loading...</div>
  </div>
  {% component "tethys_apps.base.page_handler.page_component_wrapper" app=app user=request.user layout=layout_func page_func=component_func extras=extras %}
{% endblock %}

{% block app_base_js %}
  {% for js in custom_js %}
    <script src="{{ js }}" type="text/javascript" defer></script>
  {% endfor %}
{% endblock %}

{% block content_dependent_styles %}{% endblock %}

{% block scripts %}
  {{ tethys.doc_cookies.script_tag|safe }}
  {% if tethys_app.enable_feedback %}
    <script src="{% static 'tethys_apps/js/feedback.js' %}" type="text/javascript" defer></script>
  {% endif %}
{% endblock %}