#content {
  padding-bottom: 20px;
}
.navbar {
  position: fixed;
  z-index: 99 !important;
  width:100%;
}
#scheduler_title {
  margin-top: 50px;
  margin-left: 2%;
  align: left;
}
.bk-toolbar {
  display: none !important;
}

.nav li a {
  cursor: pointer;
}