#dask-dashboard-header {
  background-color: #7ec1f7;
}

#dask-dashboard-content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-height: 58vh;
  overflow-y: auto;
}

#dask-dashboard-content > div {
  height: 800px;
}