/* =========
   Variables
   ========= */
.error-container {
  margin: 50px;
}
.error-image-container {
  position: relative;
  height: auto;
}
.error-image-container img {
  width: 500px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}
.error-code-container {
  position: relative;
}
.error-code-container h1 {
  font-size: 250px;
  line-height: 1.0;
  letter-spacing: 40px;
  text-align: center;
}
.error-message-container {
  position: relative;
}
.error-message-container h2 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.error-message-container p {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
  text-align: justify;
}
/* This parent can be any width and height */
.center-parent {
  text-align: center;
  /* The ghost, nudged to maintain perfect centering */

}
.center-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */

}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 750px) {
  .error-container {
    margin: 50px;
  }
  .error-image-container img {
    width: 250px;
  }
  .error-code-container h1 {
    font-size: 100px;
    letter-spacing: 20px;
  }
  .error-message-container {
    position: relative;
  }
  .error-message-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .error-message-container p {
    font-size: 20px;
  }
}
