{% extends "tethys_portal/user/profile.html" %}

{% load bootstrap3 %}

{% block edit_button %}
{% endblock %}

{% block title %}- User Settings{% endblock %}

{% block styles %}
  {{ block.super }}
  <style>
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }
  </style>
{% endblock %}

{% block name_parameters %}
  <div class="form-group">
    <label for="id_first_name" class="control-label col-md-3">First Name:</label>
    <div class="col-md-6">
      {{ form.first_name }}
    </div>
  </div>
  <div class="form-group">
    <label for="id_last_name" class="control-label col-md-3">Last Name:</label>
    <div class="col-md-6">
      {{ form.last_name }}
    </div>
  </div>
{% endblock %}

{% block credential_parameters %}
  <div class="form-group">
    <label class="col-md-3 control-label">Username: </label>
    <div class="col-md-6">
      <p class="form-control-static">{{ user.username }}</p>
    </div>
  </div>
  {% if context_user.has_usable_password and user.username == context_user.username %}
    <div class="form-group">
      <label class="col-md-3 control-label">Password: </label>
      <div class="col-md-6">
        <p class="form-control-static"><a href="{% url 'user:change_password' username=user.username %}" class="btn btn-default">Change Password</a></p>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block gravatar_parameters %}
  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
    <label for="id_email" class="control-label col-md-3">Email:</label>
    <div class="col-md-6">
      {{ form.email }}
    </div>
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <label for="id_email" class="control-label error-label">{{ error }}</label>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block social_parameters %}
  <ul>
    <li><span class="parameter">Connected:</span>
      {{association.provider}}
      {% if user.username == context_user.username %}
        {% if backends.associated %}
          <div class="social-label-container">

            {% if user.has_usable_password or backends.associated|length > 1 %}
              {% for association in backends.associated %}
                {% if 'linkedin' in association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'linkedin-oauth2' association.id %}"><span class="label label-linkedin">Disconnect LinkedIn</span></a>
                {% elif 'google' in association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'google-oauth2' association.id %}"><span class="label label-google">Disconnect Google</span></a>
                {% elif 'facebook' in association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'facebook' association.id %}"><span class="label label-facebook">Disconnect Facebook</span></a>
                {% elif 'hydroshare' == association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'hydroshare' association.id %}"><span class="label label-hydroshare">Disconnect HydroShare</span></a>
                {% elif 'hydroshare_beta' == association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'hydroshare_beta' association.id %}"><span class="label label-hydroshare">Disconnect HydroShare-beta</span></a>
                {% elif 'hydroshare_playground' == association.provider %}
                  <a href="{% url 'user:disconnect' user.username 'hydroshare_playground' association.id %}"><span class="label label-hydroshare">Disconnect HydroShare-playground</span></a>
                {% endif %}
              {% endfor %}
            {% else %}
              {% for backend in backends.associated %}
                {% if 'linkedin' in backend.provider %}
                  <span class="label label-linkedin">LinkedIn</span>
                {% elif 'google' in backend.provider %}
                  <span class="label label-google">Google</span>
                {% elif 'facebook' in backend.provider %}
                  <span class="label label-facebook">Facebook</span>
                {% elif 'hydroshare' == backend.provider %}
                  <span class="label label-hydroshare">HydroShare</span>
                {% elif 'hydroshare_beta' == backend.provider %}
                  <span class="label label-hydroshare">HydroShare-beta</span>
                {% elif 'hydroshare_playground' == backend.provider %}
                  <span class="label label-hydroshare">HydroShare-playground</span>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        {% else %}
          <span>None</span>
        {% endif %}
      {% else %}
        <span class="label label-info">Private</span>
      {% endif %}
    </span></li>
    <li><span class="parameter">Not Connected:</span>
      {% if user.username == context_user.username %}
        {% if backends.not_associated %}
          <div class="social-label-container">
            {% for backend in backends.not_associated %}
              {% if 'linkedin' in backend %}
                <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}"><span class="label label-linkedin">Connect LinkedIn</span></a>
              {% elif 'google' in backend %}
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><span class="label label-google">Connect Google</span></a>
              {% elif 'facebook' in backend %}
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><span class="label label-facebook">Connect Facebook</span></a>
              {% elif 'hydroshare' == backend %}
                <a href="{% url 'social:begin' 'hydroshare' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare</span></a>
              {% elif 'hydroshare_beta' == backend %}
                <a href="{% url 'social:begin' 'hydroshare_beta' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare-beta</span></a>
              {% elif 'hydroshare_playground' == backend %}
                <a href="{% url 'social:begin' 'hydroshare_playground' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare-playground</span></a>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <span>None</span>
        {% endif %}
      {% else %}
        <span class="label label-info">Private</span>
      {% endif %}
    </span></li>
  </ul>
{% endblock %}

{% block account_parameters %}
  <div class="profile-section last">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 profile-section-header">
        <h3>Account</h3>
      </div>
      <div class="col-md-8 profile-parameters">
        <ul>
          <li><span class="parameter">Member Since:</span><span class="value">{{ context_user.date_joined|date:"F j, Y" }}</span></li>
          <li><span class="parameter">Status:</span><span class="value">{% if context_user.is_active %}Active{% else %}Inactive{% endif %}</span></li>
          <li><span class="parameter">Delete Account:</span><span class="value button"><a class="btn btn-danger btn-sm" href="{% url 'user:delete' user.username %}">Delete Account</a></span></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}


{% block profile_sections %}
  <form role="form" class="form-horizontal" method="post">
    {% csrf_token %}
    {{ block.super }}
    <div class="profile-section last">
      <div id="settings-buttons" class="row">
        <div class="col-md-12">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
              <a href="{% url 'user:profile' username=user.username %}" class="btn btn-default btn-lg">Cancel</a>
            </div>
            <div class="btn-group">
              <button type="submit" id="user-settings-submit" class="btn btn-success btn-lg" name="user-settings-submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}


