{% extends "page.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>Reset Password</h1>
        </div>
        <div class="account-form-body">
          <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" id="password-reset-request-submit" class="btn btn-default" name="password-reset-request-submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}