/* Header color */
.bg-gray-dark {
    background-color: #1662a9;
}

/* Spacing between sections */
section>section {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* Make the sidebar nav not so wide */
[data-sidebar-target=sidebar].isShown {
    width: auto!important;
}

/* Read the docs version picker */
.rst-versions.rst-badge {
    bottom: 16px!important;
    left: 16px!important;
    right: auto!important;
    height: auto!important;
}

.rst-versions .rst-current-version {
    background-color: #1662A9!important;
    color: #ffffff!important;
}

.rst-versions.rst-badge.shift-up .rst-current-version {
    background-color: #5081ba!important;
}

.rst-versions .rst-other-versions {
    background-color: #ffffff!important;
    color: black!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)!important;
}

.rst-versions .rst-other-versions dd a {
    color: black!important;
}

.rst-versions .rst-other-versions dd a:hover {
    color: gray!important;
}

.highlight .hll {
    background-color: #cfef90;
}

pre {
    padding-left: 1rem;
    padding-right: 1rem;
}

