.gizmo-page-wrapper {
  margin: 0 50px;
}
.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
.docs-section {
  padding-top: 20px;
}
#showcase_nav_list {
  position: fixed;
  top: 100px;
  width: 192px;
  margin: 0 -1px 0 -1px;
}
#showcase_nav_list .nav-list > .active > a {
  background-color: #0A62A9;
  color: #ffffff;
}
#showcase_nav_list a {
  font-size: 15px;
  padding: 5px 8px;
  margin-top: -1px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}
#showcase_nav_list a.nav-list-sub {
  font-size: 13px;
  padding: 10px 25px;
}
#gizmo-showcase-wrapper {
  padding-left: 50px;
  padding-right: 200px;
}
#gizmo-showcase-wrapper .gizmo-showcase-page-heading {
  font-size: 60px;
}
#gizmo-showcase-wrapper p {
  text-align: justify;
}
pre[class*="language-"].overview-example-code {
  margin: 20px 0;
}
/* Demo and Code Example Styles */
.demo,
.code {
  position: relative;
  padding: 40px 20px 20px 20px;
  margin: 20px 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fcfcfc;
}
.code {
  background-color: #F5F2F0;
}
.demo:after,
.code:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 10pt;
  font-weight: bold;
  background-color: #efedea;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px 0 5px 0;
  -moz-border-radius: 5px 0 5px 0;
  border-radius: 5px 0 5px 0;
}
.code:after {
  content: "Code";
}
.demo:after {
  content: "Demo";
}
.example .demo {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}
.example .code {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  background-color: #f5f2f0;
}
.example .code:after {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
pre {
  border: none;
}
.alert .alert-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
