.jobs-table, .dataTables_wrapper{
    margin-bottom: 250px;
}

.jobs-table th{
    white-space: nowrap;
}

.jobs-table td{
    text-align: center;
}

/* Workflow Nodes Row Styles */
.workflow-nodes-graph {
    overflow: hidden;
    background-color: #efefef;
}

.workflow-nodes-graph .progress {
    margin-top: 50px;
    margin-bottom: 10px;
}

.workflow-nodes-graph .loading-message {
    margin-bottom: 25px;
    text-align: center;
}

.workflow-nodes-graph .loading-message p {
    font-size: 15px;
    letter-spacing: 1px;
}

p.loading-error {
    color: red;
    text-align: center;
    padding: 20px;
    margin: 0;
    letter-spacing: 1px;
    font-size: 15px;
}

/* Styles for D3 Plot */
.workflow-nodes-graph svg {
    width: 100%;
}

/* Pending */
.workflow-nodes-graph svg g.status-pen > rect {
  fill: #cccccc;
}

.workflow-nodes-graph svg g.status-pen:hover > rect {
  fill: #adadad;
}

/* Submitted */
.workflow-nodes-graph svg g.status-sub > rect {
  fill: #f0ad4e;
}

.workflow-nodes-graph svg g.status-sub:hover > rect {
  fill: #ec971f;
}

/* Running */
.workflow-nodes-graph svg g.status-run > rect {
  fill: #5bc0de;
}

.workflow-nodes-graph svg g.status-run:hover > rect {
  fill: #31b0d5;
}

/* Complete, Various-Complete */
.workflow-nodes-graph svg g.status-com > rect,
.workflow-nodes-graph svg g.status-vcp > rect {
  fill: #5cb85c;
}

.workflow-nodes-graph svg g.status-com:hover > rect,
.workflow-nodes-graph svg g.status-vcp:hover > rect {
  fill: #449d44;
}

/* Error */
.workflow-nodes-graph svg g.status-err > rect {
  fill: #d9534f;
}

.workflow-nodes-graph svg g.status-err:hover > rect {
  fill: #c9302c;
}

/* Aborted */
.workflow-nodes-graph svg g.status-abt > rect {
  fill: #000000;
}

.workflow-nodes-graph svg g.status-abt text {
  fill: #ffffff;
}

.workflow-nodes-graph svg text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.workflow-nodes-graph svg .node rect {
  fill: #dddddd;
  stroke-width: 0;
}

.workflow-nodes-graph svg .edgePath path {
  stroke: #333;
  stroke-width: 1px;
}

.modal-backdrop {
    position: relative !important;
  }
  #modal-dialog-jobs-table-log-body {
    height: 500px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    background-color: black;
    font-size: 15px;
    color: white;
  }

  #modal-dialog-jobs-table-log-content>p {
    padding-left: 15px;
    font-size: 15px;
    color: white;
  }

  .tethys_job_log_content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .show-nav * .modal-content {
    right:25%;
  }

  .modal-header .close {
    position: relative;
    bottom: 10px;
  }

  .modal-header h5 {
    position: relative;
    top: 10px;
  }

  .modal-body {
    border-radius: 0;
    white-space: pre-line;
    overflow: auto;
    word-wrap: break-word;
  }

  .navbar-nav>li>a {
    color: black !important;
    font-size: 20px !important;
  }

  .navbar {
    background-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
  }
  #jobs_table_overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
  }
  .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    position: absolute
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }
  @keyframes sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }

/* Status indicator */
.status-indicator{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.status-Pending{
  border: 1px solid black;
}

.status-Submitted{
  background: #f0ad4e;
}

.status-Running{
  background: #5bc1df;
}

.status-Complete{
  background: #5cb85b;
}

.status-Error{
  background: #d9524f;
}

.status-Aborted{
  background: black;
}

.status-Various-Complete{
  background: #5cb85b;
  border: 2px solid #d9524f;
}