#app-content-wrapper.show-nav #app-content .slide-sheet {
  position: absolute;
  bottom: -500px;
  left: 0;
  padding-right: 300px;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  z-index: 1;
  border-top: 1px #dddddd solid;
}

#app-content-wrapper #app-content .slide-sheet {
  position: absolute;
  bottom: -500px;
  left: 0;
  padding-right: 0px;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  z-index: z-index: 1010;
  border-top: 1px #dddddd solid;
  cursor: pointer;
}

#app-content-wrapper #app-content.show-nav .slide-sheet.show, #app-content-wrapper #app-content .slide-sheet.show {
  bottom: 0;
  display: block!important;
  z-index: 1010;
}


#app-content-wrapper #app-content.show-nav .slide-sheet .slide-sheet-content,
#app-content-wrapper #app-content .slide-sheet .slide-sheet-content {
  margin: 15px 0;
  position: relative;
}


#app-content-wrapper #app-content.show-nav .slide-sheet .slide-sheet-content .close,
#app-content-wrapper #app-content .slide-sheet .slide-sheet-content .close {
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2;
}

#app-content-wrapper #app-content.show-nav .slide-sheet .slide-sheet-content .row,
#app-content-wrapper #app-content .slide-sheet .slide-sheet-content .row {
  margin: 0;
}

@media screen and (max-height: 500px) {
    #app-content-wrapper #app-content .slide-sheet.show {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%!important;
      background-color: #ffffff;
      border-top: 1px #dddddd solid;
      cursor: pointer;
      z-index: 1010;
    }

    #app-content-wrapper #app-content.show-nav .slide-sheet .slide-sheet-content,
    #app-content-wrapper #app-content .slide-sheet .slide-sheet-content {
      margin-top: 60px;
    }
}
