/* Get rid of colon after labels */
label:after {
	content: none;
}

/* Google Maps Snippet */

/* fix for scale bar distortion */
#google_map img {
	max-width: none;
}

/* This parent can be any width and height */
.center-parent {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.center-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

/* Styles for inline help */
.form-horizontal .control-group.error .help-inline {
	padding-left: 130px;
	padding-top: 5px;
}
