#map_view_outer_container {
  position: relative;
  margin: 20px;
}
.tethys-map-view-draw-control {
  top: 7px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon {
  display: inline-block;
  background: url('/static/tethys_gizmos/images/map-view-drawing-icons.gif') no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
  margin: 2px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.circle {
  background-position: 0 0;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.circle.active {
  background-position: 0 -16px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.box {
  background-position: 0 -32px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.box.active {
  background-position: 0 -48px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.linestring {
  background-position: 0 -64px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.linestring.active {
  background-position: 0 -80px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.line {
  background-position: 0 -64px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.line.active {
  background-position: 0 -80px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.polygon {
  background-position: 0 -97px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.polygon.active {
  background-position: 0 -113px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.point {
  background-position: 0 -128px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.point.active {
  background-position: 0 -144px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.modify {
  background-position: 0 -160px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.modify.active {
  background-position: 0 -176px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.drag {
  background-position: 0 -192px;
}
.tethys-map-view-draw-control .tethys-map-view-draw-icon.drag.active {
  background-position: 0 -208px;
}
.ol-mouse-position {
  top: auto;
  bottom: 10px;
  left: 10px;
}
.ol-attribution {
  top: 0.5em;
  right: 2.75em;
  bottom: auto;
}
.tethys-map-view-legend {
  bottom: 10px;
  right: 10px;
  width: 225px;
  max-height: 90%;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
}
.tethys-map-view-legend .legend-header {
  padding: 0px 10px;
}
.tethys-map-view-legend .legend-content {
  padding: 0 6px;
}
.tethys-map-view-legend .legend-content .legend-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item {
  padding: 5px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .btn-legend-action {
  width: 160px;
  text-align: left;
  padding: 2px 5px;
  margin: 0;
  font-weight: 600;
  border: none;
  background: none;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .btn-legend-action:active {
  box-shadow: none;
  background: #efefef;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .btn-legend-action:hover {
  background: #efefef;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-dropdown-toggle {
  padding: 0 6px;
  border: none;
  background: none;
  border-radius: 4px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-dropdown-toggle:active {
  box-shadow: none;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-dropdown-toggle:hover {
  background: #efefef;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  -ms-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown.open {
  height: 104px;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  -ms-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown ul {
  list-style: none;
  border-top: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
  padding: 5px 0;
  margin: 5px 0;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #111111;
  font-weight: 300;
  border-radius: 5px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown ul li a:hover {
  background: #efefef;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .tethys-legend-dropdown ul li a span {
  margin-bottom: 2px;
  padding-bottom: 5px;
  display: block;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes {
  padding-left: 5px;
  margin-top: 5px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes ul li {
  padding: 5px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes ul li .legend-class-value {
  display: inline-block;
  margin-left: 7px;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes ul li .legend-class-symbol {
  float: left;
}
.tethys-map-view-legend .legend-content .legend-items .legend-item .legend-item-classes ul li .legend-class-symbol svg {
  height: 20px;
  width: 20px;
}
.tethys-map-view-legend:hover {
  background: rgba(255, 255, 255, 0.9);
}
