{% extends "page.html" %}

{% load staticfiles %}

{% block title %}- Developer Tools{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_portal/css/developer.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary_content %}
  <div class="tethys-secondary-header narrow clearfix">
    <div class="secondary-title-wrapper">
      <span class="secondary-title">Developer Tools</span>
    </div>
  </div>
  <div id="developer-content-wrapper">
    <div class="row">
      <div class="col-lg-6">
        {# Gizmo Docs ------------------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="{% url 'gizmos:showcase' %}">
            <img class="media-object" src="{% static '/static/tethys_portal/images/gizmos.png' %}" alt="Gizmo Documentation">
          </a>
          <div class="media-body">
            <a href="{% url 'gizmos:showcase' %}"><h3 class="media-heading truncate">Gizmos</h3></a>
            <p class="multiline-truncate">
              Gizmos are building blocks that can be used to create beautiful interactive controls in Tethys Apps.
              Using gizmos, developers can add date-pickers, plots, and maps to their templates with minimal coding.
              Follow the link to learn more.
            </p>
            <a href="{% url 'gizmos:showcase' %}">Show me the docs.</a>
          </div>
        </div>
        {# Data Stores -----------------------------------------------------------------------------------------------#}
        <!--<div class="media">-->
          <!--<a class="pull-left" href="">-->
            <!--<img class="media-object" src="{% static '/static/tethys_portal/images/datastore.png' %}" alt="Data store docs">-->
          <!--</a>-->
          <!--<div class="media-body">-->
            <!--<a href="{% url 'datasets:home' %}"><h3 class="media-heading truncate">Dataset Services</h3></a>-->
            <!--<p class="multiline-truncate">-->
              <!--Use this tool to browse the dataset services that are available for use in app development. Depending on-->
              <!--what level of access you have to the dataset service, you may be able to view, update, create, and delete-->
              <!--datasets.-->
            <!--</p>-->
            <!--<a href="{% url 'datasets:home' %}">Go to tool.</a>-->
          <!--</div>-->
        <!--</div>-->

      </div>
      <div class="col-lg-6">
        {# Geoprocess formulator -------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="">
            <img class="media-object" src="{% static '/static/tethys_portal/images/geoprocessing.png' %}" alt="Geoprocessing tool">
          </a>
          <div class="media-body">
            <a href="{% url 'wps:home' %}"><h3 class="media-heading truncate">Web Processing Services</h3></a>
            <p class="multiline-truncate">
              Geoprocessing in Tethys apps can be accomplished using any web processing service (WPS). For convenience, Tethys
              provides the 52 North WPS service built in. Use this tool to explore the processes that are available and how to
              parameterize them.
            </p>
            <a href="{% url 'wps:home' %}">Go to tool.</a>
          </div>
        </div>

        {# These Docs ------------------------------------------------------------------------------------------------#}
        <!--<div class="media">-->
          <!--<a class="pull-left" href="">-->
            <!--<img class="media-object" src="{% static '/static/tethys_portal/images/computing.png' %}" alt="Gizmo Documentation">-->
          <!--</a>-->
          <!--<div class="media-body">-->
            <!--<a href=""><h3 class="media-heading truncate">Cloud Computing</h3></a>-->
            <!--<p class="multiline-truncate">-->
              <!--Hac semper conubia tellus porttitor vestibulum blandit aenean a parturient id ultricies platea vulputate-->
              <!--vestibulum euismod sapien ut a nisi scelerisque per adipiscing dui condimentum volutpat nec mi at. Rhoncus-->
              <!--ligula duis hac ante curae.-->
            <!--</p>-->
            <!--<a href="">See docs.</a>-->
          <!--</div>-->
        <!--</div>-->

      </div>
    </div>
  </div>
{% endblock %}