{% extends "page.html" %}

{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_portal/css/developer.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary_content %}
  <div class="tethys-secondary-header narrow clearfix">
    <div class="image-wrapper">
      <img src="{% static 'tethys_apps/images/apps_library_icon.gif' %}" />
    </div>
    <div class="secondary-title-wrapper">
      <span class="secondary-title">Developer Tools</span>
    </div>
  </div>
  <div id="developer-content-wrapper">
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<p>This is my introductory comment about the developer tools web page.</p>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-lg-6">
        {# Gizmo Docs ------------------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="{% url 'gizmos:showcase' %}">
            <img class="media-object" src="http://placehold.it/200x200" alt="Gizmo Documentation">
          </a>
          <div class="media-body">
            <a href="{% url 'gizmos:showcase' %}"><h3 class="media-heading truncate">Gizmos</h3></a>
            <p class="multiline-truncate">
              Gizmos are building blocks that can be used to create beautiful interactive controls in Tethys Apps.
              Using gizmos, developers can add date-pickers, plots, and maps to their templates with minimal coding.
              Follow the link to learn more.
            </p>
            <a href="{% url 'gizmos:showcase' %}">Show me the docs.</a>
          </div>
        </div>
        {# Data Stores -----------------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="">
            <img class="media-object" src="http://placehold.it/200x200" alt="Data store docs">
          </a>
          <div class="media-body">
            <a href=""><h3 class="media-heading truncate">Data Store Viewer</h3></a>
            <p class="multiline-truncate">
              The Data Store Viewer provides a summary of the the data stores that are connected to Tethys. Use this tool
              to find data that is available for use by your app. Some data stores can be used to store data for your app
              as well.
            </p>
            <a href="">Go to tool.</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        {# Geoprocess formulator -------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="">
            <img class="media-object" src="http://placehold.it/200x200" alt="Geoprocess formulator tool">
          </a>
          <div class="media-body">
            <a href=""><h3 class="media-heading truncate">Geoprocess Formulator</h3></a>
            <p class="multiline-truncate">
              Geoprocessing in Tethys apps can be accomplished using the built-in 52 North WPS service. The Geoprocess
              Formulator tool can be used to view available 52 North processes and formulate the WPS request.
            </p>
            <a href="">Go to tool.</a>
          </div>
        </div>

        {# These Docs ------------------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="">
            <img class="media-object" src="http://placehold.it/200x200" alt="Gizmo Documentation">
          </a>
          <div class="media-body">
            <a href=""><h3 class="media-heading truncate">These Docs</h3></a>
            <p class="multiline-truncate">
              Hac semper conubia tellus porttitor vestibulum blandit aenean a parturient id ultricies platea vulputate
              vestibulum euismod sapien ut a nisi scelerisque per adipiscing dui condimentum volutpat nec mi at. Rhoncus
              ligula duis hac ante curae.
            </p>
            <a href="">See docs.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}