{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ block.super }} - Change Password{% endblock %}

{% bootstrap_messages %}

{% block account_form_title %}Change Password{% endblock %}

{% block account_form_body %}
  <form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="{% url 'user:settings' %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" id="change-password-submit" class="btn btn-primary" name="change-password-submit">Save</button>
  </form>
{% endblock %}