{% extends "tethys_portal/user/confirm.html" %}

{% block title %}{{ block.super }} - Clear Workspace Confirmation{% endblock %}

{% block account_form_title %}Clear Workspace{% endblock %}

{% block account_form_body %}
  <form role="form" method="post" action="">
    <p>Are you sure you want to clear your workspace in the {{ app_name }} app (this action cannot be undone)?</p>
    {% csrf_token %}
    <a href="{% url 'user:manage_storage' %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" id="clear-workspace-submit" class="btn btn-danger" name="clear-workspace-submit">Clear</button>
  </form>
{% endblock %}