{% extends "tethys_portal/user/confirm.html" %}

{% block title %}{{ block.super }} - Disconnect Social Account Confirmation{% endblock %}

{% block account_form_title %}Disconnect{% endblock %}

{% block account_form_body %}
  <form role="form" method="post" action="{% url 'social:disconnect_individual' provider association_id %}?next=/user/settings/">
    {% if 'azuread' in provider %}
      <p>Are you sure you want to disconnect your Azure AD account?</p>
    {% elif 'adfs' in provider %}
      <p>Are you sure you want to disconnect your ADFS account?</p>
    {% elif 'google' in provider %}
      <p>Are you sure you want to disconnect your Google account?</p>
    {% elif 'linkedin' in provider %}
      <p>Are you sure you want to disconnect your LinkedIn account?</p>
    {% elif 'facebook' in provider %}
      <p>Are you sure you want to disconnect your Facebook account?</p>
    {% elif 'hydroshare' == provider %}
      <p>Are you sure you want to disconnect your HydroShare account?</p>
    {% elif 'hydroshare_beta' == provider %}
      <p>Are you sure you want to disconnect your HydroShare-beta account?</p>
    {% elif 'hydroshare_playground' == provider %}
      <p>Are you sure you want to disconnect your HydroShare-playground account?</p>
    {% elif 'arcgis' in provider %}
      <p>Are you sure you want to disconnect your ArcGIS {% if 'portal' in provider %}Enterprise Portal{% else %}Online{% endif %} account?</p>
    {% elif 'okta' in provider %}
      <p>Are you sure you want to disconnect your Okta account?</p>
    {% elif 'onelogin' in provider %}
      <p>Are you sure you want to disconnect your OneLogin account?</p>
    {% else %}
      <p>Are you sure you want to disconnect single sign on account?</p>
    {% endif %}

    {% csrf_token %}
    <a href="{% url 'user:settings' %}" class="btn btn-outline-secondary">Cancel</a>
    <button type="submit" id="disconnect-social-submit" class="btn btn-danger" name="disconnect-social-submit">Disconnect</button>
  </form>
{% endblock %}