{% extends "base.html" %}

{% load static gravatar %}

{% block title %}{{ block.super }} - Profile{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_portal/css/social_labels.min.css' %}"  rel="stylesheet" />
  <style id="profile-styles">
    #profile-header {
      background-color: {{ site_globals.secondary_color }};
    }
    
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }

    .profile-header .profile-name {
      color: {{ site_globals.primary_text_color|default:'#ffffff' }};
    }
  </style>
{% endblock %}

{% block primary_content %}
  <div id="profile-content" class="container">
    {% block profile_header %}
    <div id="profile-header-container" class="row my-3">
      <div class="col">
        <nav id="profile-header" class="navbar navbar-light rounded">
          <div class="container-fluid">
            <span class="navbar-brand">
              {% with image_size=30 %}
              <img src="{% if user.email %}{% gravatar_url user.email image_size %}{% else %}{% gravatar_url "tethys@example.com" image_size %}{% endif %}" alt="" width="{{ image_size }}" height="{{ image_size }}" class="d-inline-block align-text-top">
              {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}
              {% endwith %}
            </span>
            {% block edit_button %}
            <a href="{% url 'user:settings' %}" class="btn btn-primary"><i class="bi bi-pencil"></i> Edit</a>
            {% endblock %}
          </div>
        </nav>
      </div>
    </div> <!-- #profile-header-container.container -->
    {% endblock %}
    {% block profile_sections %}
    <div id="profile-sections" class="container">
      <div class="profile-section row mx-2 my-3">
        <hr>
        <div class="col-xl-4">
          <h3>Name</h3>
        </div>
        {% block name_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">{{ user.first_name|default:"Not Given" }}</dd>

            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">{{ user.last_name|default:"Not Given" }}</dd>
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>Email</h3>
        </div>
        {% block email_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">{{ user.email|default:"Not Given" }}</dd>
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>Credentials</h3>
        </div>
        {% block credential_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Username:</dt>
            <dd class="col-sm-8">{{ user.username }}</dd>
            {% if user.has_usable_password %}
            <dt class="col-sm-4">Password:</dt>
            <dd class="col-sm-8">********</dd>
            {% endif %}
            <dt class="col-sm-4">2-Step Verification: </dt>
            <dd class="col-sm-8">{% if has_mfa %}Enabled{% else %}Not Enabled{% endif %}</dd>
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
      {% if backends.backends %}
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>Single Sign On</h3>
        </div>
        {% block social_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Connected:</dt>
            {% if backends.associated %}
              {% include 'tethys_portal/user/social_labels.html' with backends=backends.associated %}
            {% else %}
              <dd class="col-sm-8">None</dd>
            {% endif %}
            <dt class="col-sm-4">Not Connected:</dt>
            {% if backends.not_associated %}
              {% include 'tethys_portal/user/social_labels.html' with backends=backends.not_associated %}
            {% else %}
              <dd class="col-sm-8">None</dd>
            {% endif %}
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
      {% endif %}
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>API Key</h3>
        </div>
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Token:</dt>
            {% if show_user_token_mfa %}
            <dd class="col-sm-8">{{ user_token }}</dd>
            {% else %}
            <dd class="col-sm-8">Enable 2-Step verification to view token</dd>
            {% endif %}
          </dl>
        </div>
        <hr>
      </div>
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>Account</h3>
        </div>
        {% block account_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Member Since:</dt>
            <dd class="col-sm-8">{{ user.date_joined|date:"F j, Y" }}</dd>
            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8">{% if user.is_active %}Active{% else %}Inactive{% endif %}</dd>
            {% block extend_account_parameters %}
            {% endblock %}
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
      <div class="profile-section row mx-2">
        <div class="col-xl-4">
          <h3>Workspace</h3>
        </div>
        {% block storage_parameters %}
        <div class="profile-parameters col-xl-8">
          <dl class="row">
            <dt class="col-sm-4">Storage Summary:</dt>
            <dd class="col-sm-8">{{ current_use }} of {{ quota|default:"&#8734;" }}</dd>
            {% block extend_storage_parameters %}
            {% endblock %}
          </dl>
        </div>
        {% endblock %}
        <hr>
      </div>
    </div> <!-- #profile-sections.container -->
    {% endblock %}
  </div>  <!-- #profile-content.container -->
{% endblock %}