<div class="social-label-container">
  {% for backend in backends %}
    {% if 'azuread' in backend or 'azuread' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-windows">Disconnect Azure AD</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-windows">Connect Azure AD</span></a>
      {% else %}
      <span class="label label-windows">Azure AD</span>
      {% endif %}
    {% elif 'adfs' in backend or 'adfs' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-windows">Disconnect ADFS</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-windows">Connect ADFS</span></a>
      {% else %}
      <span class="label label-windows">ADFS</span>
      {% endif %}
    {% elif 'linkedin' in backend or 'linkedin' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'linkedin-oauth2' backend.id %}"><span class="label label-linkedin">Disconnect LinkedIn</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}"><span class="label label-linkedin">Connect LinkedIn</span></a>
      {% else %}
      <span class="label label-linkedin">LinkedIn</span>
      {% endif %}
    {% elif 'google' in backend or 'google' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'google-oauth2' backend.id %}"><span class="label label-google">Disconnect Google</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><span class="label label-google">Connect Google</span></a>
      {% else %}
      <span class="label label-google">Google</span>
      {% endif %}
    {% elif 'facebook' in backend or 'facebook' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'facebook' backend.id %}"><span class="label label-facebook">Disconnect Facebook</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><span class="label label-facebook">Connect Facebook</span></a>
      {% else %}
      <span class="label label-facebook">Facebook</span>
      {% endif %}
    {% elif 'hydroshare_beta' in backend or 'hydroshare_beta' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare_beta' backend.id %}"><span class="label label-hydroshare">Disconnect HydroShare-beta</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare_beta' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare-beta</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare-Beta</span>
      {% endif %}
    {% elif 'hydroshare_playground' in backend or 'hydroshare_playground' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare_playground' backend.id %}"><span class="label label-hydroshare">Disconnect HydroShare-playground</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare_playground' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare-playground</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare-Playground</span>
      {% endif %}
    {% elif 'hydroshare' in backend or 'hydroshare' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare' backend.id %}"><span class="label label-hydroshare">Disconnect HydroShare</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare' %}?next={{ request.path }}"><span class="label label-hydroshare">Connect HydroShare</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare</span>
      {% endif %}
    {% elif 'okta' in backend or 'okta' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-okta">Disconnect Okta</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-okta">Connect Okta</span></a>
      {% else %}
      <span class="label label-okta">Okta</span>
      {% endif %}
    {% elif 'onelogin' in backend or 'onelogin' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-onelogin">Disconnect OneLogin</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-onelogin">Connect OneLogin</span></a>
      {% else %}
      <span class="label label-onelogin">OneLogin</span>
      {% endif %}
    {% else %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-custom-oauth">Disconnect {{ backend.provider }}</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-custom-oauth">Connect {{ backend }}</span></a>
      {% else %}
      <span class="label label-custom-oauth">{{ backend.provider }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
