{% load i18n %}
{# Translations #}
{% trans "Connect" as connect_tr %}
{% trans "Disconnect" as disconnect_tr %}

<div class="social-label-container">
  {% for backend in backends %}
    {% if 'azuread' in backend or 'azuread' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-windows">{{ disconnect_tr }} Azure AD</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-windows">{{ connect_tr }} Azure AD</span></a>
      {% else %}
      <span class="label label-windows">Azure AD</span>
      {% endif %}
    {% elif 'adfs' in backend or 'adfs' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-windows">{{ disconnect_tr }} ADFS</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-windows">{{ connect_tr }} ADFS</span></a>
      {% else %}
      <span class="label label-windows">ADFS</span>
      {% endif %}
    {% elif 'linkedin' in backend or 'linkedin' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'linkedin-oauth2' backend.id %}"><span class="label label-linkedin">{{ disconnect_tr }} LinkedIn</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}"><span class="label label-linkedin">{{ connect_tr }} LinkedIn</span></a>
      {% else %}
      <span class="label label-linkedin">LinkedIn</span>
      {% endif %}
    {% elif 'google' in backend or 'google' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'google-oauth2' backend.id %}"><span class="label label-google">{{ disconnect_tr }} Google</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><span class="label label-google">{{ connect_tr }} Google</span></a>
      {% else %}
      <span class="label label-google">Google</span>
      {% endif %}
    {% elif 'facebook' in backend or 'facebook' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'facebook' backend.id %}"><span class="label label-facebook">{{ disconnect_tr }} Facebook</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><span class="label label-facebook">{{ connect_tr }} Facebook</span></a>
      {% else %}
      <span class="label label-facebook">Facebook</span>
      {% endif %}
    {% elif 'hydroshare_beta' in backend or 'hydroshare_beta' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare_beta' backend.id %}"><span class="label label-hydroshare">{{ disconnect_tr }} HydroShare-beta</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare_beta' %}?next={{ request.path }}"><span class="label label-hydroshare">{{ connect_tr }} HydroShare-beta</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare-Beta</span>
      {% endif %}
    {% elif 'hydroshare_playground' in backend or 'hydroshare_playground' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare_playground' backend.id %}"><span class="label label-hydroshare">{{ disconnect_tr }} HydroShare-playground</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare_playground' %}?next={{ request.path }}"><span class="label label-hydroshare">{{ connect_tr }} HydroShare-playground</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare-Playground</span>
      {% endif %}
    {% elif 'hydroshare' in backend or 'hydroshare' == backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username 'hydroshare' backend.id %}"><span class="label label-hydroshare">{{ disconnect_tr }} HydroShare</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' 'hydroshare' %}?next={{ request.path }}"><span class="label label-hydroshare">{{ connect_tr }} HydroShare</span></a>
      {% else %}
      <span class="label label-hydroshare">HydroShare</span>
      {% endif %}
    {% elif 'arcgis' in backend or 'arcgis' in backend.provider %}
      {% if action == 'disconnect' %}
        {% if 'portal' in backend or 'portal' in backend.provider %}
        <a href="{% url 'user:disconnect' user.username 'arcgis_portal' backend.id %}"><span class="label label-arcgis">{{ disconnect_tr }} ArcGIS Enterprise Portal</span></a>
        {% else %}
        <a href="{% url 'user:disconnect' user.username 'arcgis' backend.id %}"><span class="label label-arcgis">{{ disconnect_tr }} ArcGIS Online</span></a>
        {% endif %}
      {% elif action == 'connect' %}
        {% if 'portal' in backend or 'portal' in backend.provider %}
        <a href="{% url 'social:begin' 'arcgis_portal' %}?next={{ request.path }}"><span class="label label-arcgis">{{ connect_tr }} ArcGIS Enterprise Portal</span></a>
        {% else %}
        <a href="{% url 'social:begin' 'arcgis' %}?next={{ request.path }}"><span class="label label-arcgis">{{ connect_tr }} ArcGIS Online</span></a>
        {% endif %}
      {% else %}
        {% if 'portal' in backend or 'portal' in backend.provider %}
        <span class="label label-arcgis">ArcGIS Enterprise Portal</span>
        {% else %}
        <span class="label label-arcgis">ArcGIS Online</span>
        {% endif %}
      {% endif %}
    {% elif 'okta' in backend or 'okta' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-okta">{{ disconnect_tr }} Okta</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-okta">{{ connect_tr }} Okta</span></a>
      {% else %}
      <span class="label label-okta">Okta</span>
      {% endif %}
    {% elif 'onelogin' in backend or 'onelogin' in backend.provider %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-onelogin">{{ disconnect_tr }} OneLogin</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-onelogin">{{ connect_tr }} OneLogin</span></a>
      {% else %}
      <span class="label label-onelogin">OneLogin</span>
      {% endif %}
    {% else %}
      {% if action == 'disconnect' %}
      <a href="{% url 'user:disconnect' user.username backend.provider backend.id %}"><span class="label label-custom-oauth">{{ disconnect_tr }} {{ backend.provider }}</span></a>
      {% elif action == 'connect' %}
      <a href="{% url 'social:begin' backend %}?next={{ request.path }}"><span class="label label-custom-oauth">{{ connect_tr }} {{ backend }}</span></a>
      {% else %}
      <span class="label label-custom-oauth">{{ backend.provider }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
