<div class="btn-group" style="margin-right: 15px">
  <a id="user-profile" class="btn btn-light btn-user-profile" href="{% url 'user:profile' %}" title="User Profile">
    <span>
      {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
      {% if has_gravatar %}{% include "gravatar.html" with image_size=25 %}{% endif %}
    </span>
  </a>
  <button type="button" class="btn btn-light btn-user-profile dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" href="{% url 'user:profile' %}" title="User Settings">
        <i class="bi bi-person-fill"></i><span class="ms-2">User Profile</span>
      </a>
    </li>
    {% if user.is_staff %}
      {% if debug_mode %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'admin:create_app' %}" title="Create App">
          <i class="bi bi-hammer"></i><span class="ms-2">Create App</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'admin:import_app' %}" title="Import App">
          <i class="bi bi-upload"></i><span class="ms-2">Import App</span>
        </a>
      </li>
      {% endif %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'admin:index' %}" title="System Admin Settings">
          <i class="bi bi-gear-wide-connected"></i><span class="ms-2">Site Admin</span>
        </a>
      </li>
    {% endif %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'accounts:logout' %}" title="Log Out">
        <i class="bi bi-door-closed-fill"></i><span class="ms-2">Log Out</span>
      </a>
    </li>
  </ul>
</div>