{% extends "page.html" %}

{% load bootstrap3 %}

{% block title %}- Log In{% endblock %}

{% block styles %}
  {{ block.super }}
  <style>
    body {
      background: {{ site_globals.background_color|default:'#ffffff' }};
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>Log In</h1>
        </div>
        <div class="account-form-body">
          <form role="form" method="post">
            {% if 'hydroshare' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                 <i class="fa fa-hydroshare"></i> Sign in with HydroShare
              </a>
            {% endif %}
            {% if 'hydroshare_beta' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare_beta' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                <i class="fa fa-hydroshare"></i> Sign in with HydroShare-beta
              </a>
            {% endif %}
            {% if 'hydroshare_playground' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare_playground' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                <i class="fa fa-hydroshare"></i> Sign in with HydroShare-playground
              </a>
            {% endif %}
            {% if 'google-oauth2' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                <i class="fa fa-google"></i> Sign in with Google
              </a>
            {% endif %}
            {% if 'linkedin-oauth2' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-linkedin" href="{% url 'social:begin' 'linkedin-oauth2' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                <i class="fa fa-linkedin"></i> Sign in with LinkedIn
              </a>
            {% endif %}
            {% if 'facebook' in backends.not_associated %}
              <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
                <i class="fa fa-facebook"></i> Sign in with Facebook
              </a>
            {% endif %}
            {% if backends.not_associated %}
              <div class="social-divide-or">
                <div class="line"></div>
                <span class="or">or</span>
              </div>
            {% endif %}

            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" id="login-submit" class="btn btn-default" name="login-submit">Login</button>
            {% if signup_enabled %}
              <span class="help-block">Don't have an account? <a href="{% url 'accounts:register' %}">Sign Up</a></span>
            {% endif %}
            <span class="help-block"><a href="{% url 'accounts:password_reset' %}">Forget your password?</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block terms-of-service-override %}
{% endblock %}