#app-content-wrapper .flash-messages {
  padding-right: 50px;
  position: absolute;
  display: inline-block;
  top: 57px;
  left: 10%;
  z-index: 1000000000;
  width: 80%;
}

#app-content-wrapper.show-nav .flash-messages {
    padding-right: 450px;
}
