{% load static %}
<footer id="site-footer" class="site-footer mt-auto container-fluid">
  {% block footer_content %}
    <div class="row  align-items-center px-3 py-3">
      <div class="col-md-5 py-3">
        <div class="copyright-wrapper float-md-start">
          <span class="copyright">{{ site_globals.footer_copyright|default:site_defaults.copyright }}</span>
        </div>
      </div>
      <div class="col-md-2 py-3">
        <div class="documents-wrapper">
          {% for document in site_globals.documents %}
          <a class="document-link me-2" href="{% url 'tc_view_specific_version_page' document.slug document.version_number %}">{{ document.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-5 py-3">
        <div class="tethys-attribution float-md-end">
          <span class="powered-by-tethys">Powered by <img class="ps-1" src="{% static 'tethys_portal/images/tethys-on-blue-icon-only.svg' %}" style="width: 30px; height:30px;"> <a href="http://www.tethysplatform.org">Tethys Platform</a></span>
        </div>
      </div>
    </div>
  {% endblock %}
</footer>
