{% load static %}

<header id="site-header" class="site-header container-fluid">
  <div id="header-spacer" class="w-100 my-8"><p></p></div>
  <nav id="header-navbar" class="navbar navbar-expand-md navbar-dark shadow px-4 py-3 mx-3" style="background-color: {{ site_globals.primary_color|default:'#0a62a9' }};">
    <div class="container-fluid">
      {% block header_brand %}
        <a id="header-brand" class="navbar-brand" href="{% if single_app_mode %} {% if configured_single_app %} {% url configured_single_app.index_url %}  {% else %} {% url 'user:profile' %} {% endif %} {% else %} {% url 'home' %} {% endif %}">
          {% if site_globals.brand_image and 'http' in site_globals.brand_image %}
            <img  src="{{ site_globals.brand_image }}" alt="" class="d-inline-block align-text-top">
          {% elif site_globals.brand_image %}
            <img  src="{% static site_globals.brand_image %}" alt="" class="d-inline-block align-text-top">
          {% endif %}
          {% if site_globals.brand_text %}
            {{ site_globals.brand_text }}
          {% endif %}
          {% if not site_globals.brand_text and not site_globals.brand_image %}
            Tethys Portal
          {% endif %}
        </a>
      {% endblock %}

      {% block header_navbar_nav %}
      <button id="header-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar-nav" aria-controls="header-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="header-navbar-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          {% block header_nav_items %}
            {% url 'app_library' as app_library_url %}
            {% if show_app_library_button %}
                <li class="nav-item">
                  <a class="h5 me-3 mb-0 nav-link{% if request.path == app_library_url %} active" aria-current="page{% endif %}" href="{{ app_library_url }}" title="{% if site_globals.apps_library_title %}{{ site_globals.apps_library_title }}{% else %}Apps{% endif %}">{% if site_globals.apps_library_title %}{{ site_globals.apps_library_title }}{% else %}Apps{% endif %}</a>
                </li>
            {% endif %}
          {% endblock %}
        </ul>
        {% block user_menu %}
          {% if user.is_authenticated and user.is_active %}
            {% include "tethys_portal/user/user_header_menu.html" %}   
          {% else %}
            <a class="btn btn-outline-light" role="button" href="{% url 'accounts:login' %}" title="Log In">Log In</a>
          {% endif %}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
  </nav>
</header>