// out: ../css/tethys_map_view.min.css, compress: true
/*****************************************************************************
 * FILE: tethys_map_view
 * DATE: 2014
 * AUTHOR: Nathan Swain
 * COPYRIGHT: (c) Brigham Young University 2014
 * LICENSE: BSD 2-Clause
 * NOTE: To modify, make sure you use tethys_map_view.less
 *****************************************************************************/
 // Styles for the Tethys Map View

.ol-mouse-position {
  top: auto;
  bottom: 0.5em;
  left: 0.5em;
}

.ol-zoomslider {
  top: 4em;
  width: 28px;
}

#map_view_outer_container {
  position: relative;
  height: 100%;
}

#basemap_dropdown_container {
  position: absolute;
  top: 0.5em;
  left: 40px;
  z-index: 1000;
  background-color: rgba(255,255,255,.4);
  border-radius: 2px;

  #basemap_dropdown {
    background-color: rgba(0,60,136,.5);
    color: white;
    border: none;
    padding: 0.5px 5px;
  
    &::after {
      display: none;
    }
  
    i::before {
      margin: 0;
      font-size: 12px;
    }
  }

  .dropdown-menu {
    max-height: 400px !important;
    overflow-y: auto !important;
  }
}

.basemap-option {
    cursor: pointer;
    padding: 5px;
}
.basemap-option:hover {
    background-color: rgba(0,94,213,.5);
    color: white;
}
.selected-basemap-option {
    font-weight: bold;
}
.current-basemap-label {
    font-weight: normal;
}

.tethys-map-view-draw-control {
  top: 0.5em;

  .tethys-map-view-draw-icon {
    display: inline-block;
    /*
      Following line:

        background: url('/static/tethys_gizmos/images/map-view-drawing-icons.gif') no-repeat;

      were removed and put into the following template: tethys_gizmos/templates/tethys_gizmos/gizmos/map_view.html
      This is because it needs to render the staticfiles dynamically in case the STATIC_URL setting is other than /static/ 

   */
    background-size: cover;
    height: 16px;
    width: 16px;
    margin: 2px;

    &.circle {
      background-position: 0 0;

      &.active {
        background-position: 0 -16px;
      }
    }

    &.box {
      background-position: 0 -32px;

      &.active {
        background-position: 0 -48px;
      }
    }

    &.linestring {
      background-position: 0 -64px;

      &.active {
        background-position: 0 -80px;
      }
    }

    &.line {
      background-position: 0 -64px;

      &.active {
        background-position: 0 -80px;
      }
    }

    &.polygon {
      background-position: 0 -97px;

      &.active {
        background-position: 0 -113px;
      }
    }

    &.point {
      background-position: 0 -128px;

      &.active {
        background-position: 0 -144px;
      }
    }

    &.modify {
      background-position: 0 -224px;

      &.active {
        background-position: 0 -241px;
      }
    }

    &.pan {
      background-position: 0 -160px;

      &.active {
        background-position: 0 -176px;
      }
    }

    &.move {
      background-position: 0 -192px;

      &.active {
        background-position: 0 -208px;
      }
    }

    &.delete {
      background-position: 0 -256px;

      &.active {
        background-position: 0 -272px;
      }
    }
  }
}

.tethys-map-view-legend {
  bottom: 2em;
  right: 0.5em;
  width: 225px;
  max-height: 85%;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  border: 1px #ddd solid;

  .legend-header {
    padding: 0px 10px;
  }

  .legend-content {
    padding: 0 6px;

    .legend-items {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .legend-item {
        padding: 5px;

        .btn-legend-action {
          width: 150px;
          text-align: left;
          padding: 2px 5px;
          margin: 0;
          font-weight: 600;
          border: none;
          background: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:active {
            box-shadow: none;
            background: #efefef;
          }

          &:hover {
            background: #efefef;
          }
        }

        .legend-dropdown-toggle {
          padding: 0 6px;
          border: none;
          background: none;
          border-radius: 4px;

          &:active {
            box-shadow: none;
          }

          &:hover {
            background: #efefef;
          }
        }

        .tethys-mvlegendimage {
          &.open {
            height: 100% !important;
          }
        }

        .tethys-legend-dropdown {
          height: 0;
          overflow: hidden;
          -webkit-transition: height 0.2s ease-in;
             -moz-transition: height 0.2s ease-in;
               -o-transition: height 0.2s ease-in;
              -ms-transition: height 0.2s ease-in;
                  transition: height 0.2s ease-in;

          &.open {
            height: 104px;
            -webkit-transition: height 0.2s ease-in;
               -moz-transition: height 0.2s ease-in;
                 -o-transition: height 0.2s ease-in;
                -ms-transition: height 0.2s ease-in;
                    transition: height 0.2s ease-in;
          }

          ul {
            list-style: none;
            border-top: 1px #dddddd solid;
            border-bottom: 1px #dddddd solid;
            padding: 5px 0;
            margin: 5px 0;

            li {

              a {
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                color: #111111;
                font-weight: 300;
                border-radius: 5px;

                &:hover {
                  background: #efefef;
                }

                span {
                  margin-bottom: 2px;
                  padding-bottom: 5px;
                  display: block;
                }
              }
            }
          }
        }

        .legend-item-classes {
          padding-left: 5px;
          margin-top: 5px;

          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
              padding: 5px;

              .legend-class-value {
                display: inline-block;
                margin-left: 7px;
              }

              .legend-class-symbol {
                float: left;

                svg {
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }
}
