{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ block.super }} - Password Reset Sent{% endblock %}

{% block account_form_title %}Instructions Sent{% endblock %}

{% block account_form_body %}
  <p>We've e-mailed you instructions for resetting your password. You should be receiving it shortly.</p>
  <p>Keep in mind that it may arrive in your spam folder.</p>
  <p><a class="btn btn-primary" href="{% url 'accounts:login' %}">Return to Log In</a></p>
{% endblock %}