{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ block.super }} - Set New Password{% endblock %}

{% block account_form_title %}New Password{% endblock %}

{% block account_content_top %}
  <style>
    label {
      display: none;
    }
  </style>
{% endblock %}

{% block account_form_body %}
  {% if validlink %}
    <form role="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" id="register-submit" class="btn btn-primary" name="reset-submit" value="Reset Password">
    </form>
  {% else %}
    <p>The password reset link was invalid. We apologize for the inconvenience.</p>
    <p><a class="btn btn-primary" href="{% url 'accounts:login' %}">Return to Log In</a></p>
  {% endif %}
{% endblock %}