{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 %}

{% block title %}{{ block.super }} - Reset Password{% endblock %}


{% block account_form_title %}Reset Password{% endblock %}

{% block account_content_top %}
  <style>
    label {
      display: none;
    }
  </style>
{% endblock %}

{% block account_form_body %}
  <span class="d-block mb-3">Please enter the email address associated with your account.</span>
  <form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" id="register-submit" class="btn btn-primary mb-3" name="reset-submit" value="Reset Password">
    <span class="d-block">Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
  </form>
{% endblock %}