{% extends "page.html" %}

{% load bootstrap3 i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block styles %}
  {{ block.super }}
  <style>
    body {
      background: {{ site_globals.background_color|default:'#ffffff' }};
    }
  </style>
{% endblock %}

{% block content %}
  <style>
    label {
      display: none;
    }
  </style>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="account-form-wrapper">
        <div class="account-form-header">
          <h1>{% trans "Reset Password" %}</h1>
        </div>
        <div class="account-form-body">
          <span class="help-block">{% trans "Please enter the email address associated with your account." %}</span>
          <form role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" id="register-submit" class="btn btn-default" name="reset-submit" value="Reset Password">
            <span class="help-block">{% trans "Already have an account?" %} <a href="{% url 'accounts:login' %}">{% trans "Login" %}</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}