{% extends "page.html" %}
{% load static humanize %}

{% block title %}Locked Out!{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    body {
      background: {{ site_globals.background_color|default:'#ffffff' }};
    }
</style>
<link href="{% static '/tethys_portal/css/lockout.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block flash %}{% endblock %}

{% block primary_content %}
  <div class="lockout-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="lockout-image-container center-parent">
          {% block lockout_image %}
            <img class="centered" src="{% static 'tethys_portal/images/lockout.png' %}">
          {% endblock %}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="lockout-message-container">
              <p>You have exceeded the amount of allowed login attempts ({{ failure_limit }}).</p>
              {% if cooloff_time %}
                <p>Your account will be unlocked {{ cooloff_time|human_duration }}, at which point you may try again.</p>
              {% else %}
                <p>Please contact your system admin for more assistance.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
