{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 tethys %}

{% block title %}{{ block.super }} - Sign Up{% endblock %}

{% block styles %}
  {{ block.super }}
  {{ site_globals.register_css|load_custom_css|safe }}
{% endblock %}


{% block account_form_title %}Sign Up{% endblock %}

{% block account_form_body %}
<form role="form" method="post">
  {% if backends.not_associated %}
    {% include 'tethys_portal/accounts/social_buttons.html' with action='Sign up' backends=backends.not_associated %}
    <div class="social-divide-or">
      <div class="line"></div>
      <span class="or">or</span>
    </div>
  {% endif %}
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" id="register-submit" class="btn btn-primary mb-3" name="register-submit">Sign Up</button>
  <span class="d-block">Already have an account? <a href="{% url 'accounts:login' %}">Login</a></span>
</form>
{% endblock %}
