{% for backend in backends %}
  {% if backend == 'hydroshare' %}
    <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
       <i class="bi bi-hydroshare"></i> {{ action }} with HydroShare
    </a>
  {% elif backend == 'hydroshare_beta' %}
    <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare_beta' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-hydroshare"></i> {{ action }} with HydroShare-beta
    </a>
  {% elif backend == 'hydroshare_playground' %}
    <a class="btn btn-block btn-social btn-hydroshare" href="{% url 'social:begin' 'hydroshare_playground' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-hydroshare"></i> {{ action }} with HydroShare-playground
    </a>
  {% elif 'arcgis' in backend %}
    <a class="btn btn-block btn-social btn-arcgis" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-arcgis"></i> {{ action }} with ArcGIS {% if 'portal' in backend %}Enterprise Portal{% else %}Online{% endif %}
    </a>
  {% elif backend == 'google-oauth2' %}
    <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-google"></i> {{ action }} with Google
    </a>
  {% elif backend == 'linkedin-oauth2' %}
    <a class="btn btn-block btn-social btn-linkedin" href="{% url 'social:begin' 'linkedin-oauth2' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-linkedin"></i> {{ action }} with LinkedIn
    </a>
  {% elif backend == 'facebook' %}
    <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-facebook"></i> {{ action }} with Facebook
    </a>
  {% elif 'azuread' in backend %}
    <a class="btn btn-block btn-social btn-windows" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-windows"></i> {{ action }} with Azure AD
    </a>
  {% elif 'adfs' in backend %}
    <a class="btn btn-block btn-social btn-windows" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-windows"></i> {{ action }} with ADFS
    </a>
  {% elif 'okta' in backend %}
    <a class="btn btn-block btn-social btn-okta" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-circle"></i> {{ action }} with Okta
    </a>
  {% elif 'onelogin' in backend %}
    <a class="btn btn-block btn-social btn-onelogin" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-onelogin"></i> {{ action }} with OneLogin
    </a>
  {% elif 'saml' in backend %}
    {% for idp in idp_backends %}
    <a class="btn btn-block btn-social btn-saml" href="{% url 'social:begin' backend %}?idp={{ idp }}{% if request.GET.next %}&next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-box-arrow-in-left"></i> {{ action }} through {{ idp }} with SAML
    </a>
    {% endfor %}
  {% else %}
    <a class="btn btn-block btn-social btn-custom-oauth" href="{% url 'social:begin' backend %}{% if request.GET.next %}?next={{request.GET.next|urlencode}}{% endif %}">
      <i class="bi bi-unlock-fill"></i> {{ action }} with {{ backend }}
    </a>
  {% endif %}
{% endfor %}
