{% extends "base.html" %}

{% load static %}

{% block title %}{{ block.super }} - Site Admin{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
  {% block extrastyle %}{% endblock %}
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'tethys_portal/css/admin_tweaks.min.css' %}" />

  <!-- the style for 

    - .object-tools a.addlink
    - .object-tools a.addlink:hover 
    
    were moved from: "tethys_portal/static/tethys_portal/less/admin_tweaks.less" 
    
    to this template because it needs to render the staticfiles dynamically in case the STATIC_URL setting is other than /static/ 
  
  -->
  <style>
    .module caption {
      background-color: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    #content-related .module h2 {
      background-color: {{ site_globals.secondary_color|default:'#7ec1f7' }};
    }
    #changelist #changelist-filter h2 {
      background-color: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    .object-tools a.addlink {
      background-color: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    .object-tools a.addlink:hover {
      background-color: {{ site_globals.secondary_color|default:'#7ec1f7' }};
    }
    #changelist #toolbar form input[type=submit] {
      background: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    #changelist #toolbar form input[type=submit]:hover {
      background: {{ site_globals.secondary_color|default:'#7ec1f7' }};
    }
    #changelist #changelist-form .actions .button {
      background: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    #changelist #changelist-form .actions .button:hover {
      background: {{ site_globals.secondary_color|default:'#7ec1f7' }};
    }
    .object-tools a:link {
      background: {{ site_globals.primary_color|default:'#0a62a9' }};
    }
    #clear-workspace:hover {
      cursor:pointer;
    }
    #clear-workspace {
      margin-left: 30px;
      color: white;
    }
    
    .object-tools a.addlink {
      background: {{ site_globals.primary_color|default:'#0a62a9' }} url("{% static 'admin/img/tooltag-add.png' %}") 95% center no-repeat;
      font-weight: 500;
      font-size: 12px;
      padding: 3px 12px;
  
    }
    
    .object-tools a.addlink:hover {
      background: {{ site_globals.primary_color|default:'#0a62a9' }} + #111111 url("{% static 'admin/img/tooltag-add.png' %}") 95% center no-repeat;
    }


  </style>
{% endblock %}

{% block global_scripts %}
  {{ block.super }}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% endblock %}

{% load i18n %}

{% block bodytag %}class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"{% endblock %}

{% block admin_content %}
  <!-- Container -->
  <div id="container">
      {% if not is_popup %}
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
        {% endblock %}
      {% endif %}

      <!-- Content -->
      <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
      </div>
      <!-- END Content -->
  </div>
  <!-- END Container -->
{% endblock %}

