{% load gravatar %}

{# Mobile site navigation #}
{% block mobile_nav %}
  <div class="mobile-nav mobile-nav-links">
    <ul>
      {% block mobile_nav_items %}
        <li><a href="/" title="Apps">Apps</a></li>
        <li><a href="/" title="Community">Community</a></li>
      {% endblock %}
    </ul>
  </div>
{% endblock %}

{# Mobile user navigation #}
{% block mobile_user_nav %}
  {% if user.is_authenticated and user.is_active %}
  <div class="mobile-nav mobile-user-links">
    <ul>
      {% block mobile_user_nav_items %}
        <li>
          <a href="{% url 'user:profile' username=user.username %}" title="User Profile">
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a href="{% url 'user:settings' username=user.username %}" title="User Settings">
            <span>Settings</span>
          </a>
        </li>
      {% endblock %}

      {% if user.is_staff %}
        <li>
          <a href="" title="System Admin Settings">
            <span>Admin</span>
          </a>
        </li>
      {% endif %}

      <li>
        <a href="{% url 'accounts:logout' %}" title="Log Out">
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
{% endblock %}

<div class="header-wrapper">
  <header class="site-header">
    <div class="header-logo">
      <h1>
        <a href="/">{{ site_globals.logo|default:"Tethys" }}</a>
      </h1>
    </div>

    {% block header_nav %}
    <ul class="header-nav">
      {% block header_nav_items %}
        {% if user.is_authenticated and user.is_active %}
          <li><a href="/" title="Apps">Favorites</a></li>
          <li><a href="/" title="Community">Apps</a></li>
          <li><a href="/" title="Community">Datasets</a></li>
        {% endif %}
      {% endblock %}

      {% if user.is_authenticated and user.is_active %}

        <li class="user-dropdown">
          <div class="user-profile-nav-item">
            <a id="user-profile" class="user-profile" href="{% url 'user:profile' username=user.username %}" class="image" title="User Profile"><span>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}  {% gravatar user.email 25 %}</span></a>
            <a id="user-dropdown-toggle" class="user-dropdown-toggle" title="User Menu" href="javascript:void(0);" onclick="toggle_menu('#user-profile', this, '#user-dropdown-menu');"><span class="glyphicon glyphicon-chevron-down"></span></a>
          </div>
          <ul id="user-dropdown-menu" class="user-dropdown-menu">
            <li>
              <a href="{% url 'user:settings' username=user.username %}" title="User Settings">
                <span class="glyphicon glyphicon-user"></span><span>    Settings</span>
              </a>
            </li>

            {% if user.is_staff %}
              <li class="separator"></li>
              <li>
                <a href="{% url 'admin:index' %}" title="System Admin Settings">
                  <span class="glyphicon glyphicon-cog"></span><span>   Admin</span>
                </a>
              </li>
            {% endif %}

            <li class="separator"></li>
            <li>
              <a href="{% url 'accounts:logout' %}" title="Log Out">
                <span class="glyphicon glyphicon-log-out"></span><span>   Log Out</span>
              </a>
            </li>
          </ul> {# END user-dropdown-menu #}
        </li> {# END user-dropdown #}

      {% else %}
        <li class="action header-action"><a href="{% url 'accounts:login' %}" title="Log In">Log In</a></li>
      {% endif %}

    </ul>
    {% endblock %}

    {% if user.is_authenticated and user.is_active %}
      <a class="mobile-nav-button mobile-links">
          <div></div>
          <div></div>
          <div></div>
      </a>
      {# If the user is not logged in, set the href to the login link #}
      <a class="mobile-nav-button mobile-user">
          <span class="glyphicon glyphicon-user icon-white"></span>
      </a>
    {% else %}
      <a class="mobile-nav-button mobile-login" href="{% url 'accounts:login' %}" title="Log In">Log In</a>
    {% endif %}
  </header>
</div>