{% extends "page.html" %}

{% load static tethys_gizmos %}

{% block title %}- Gizmos - Map View{% endblock %}

{% block global_scripts %}
    {{ block.super }}
    {% gizmo_dependencies global_js %}
{% endblock %}

{% block styles %}
	{{ block.super }}
    {% gizmo_dependencies global_css %}
  <link rel="stylesheet" href="{% static 'tethys_gizmos/css/gizmo_showcase.css' %}" type="text/css" />
  <style>
    #content {
      padding-bottom: 50px;
    }
  </style>
{% endblock %}

{% block primary_content %}
  <div class="gizmo-page-wrapper">
    <h2>Jobs Table</h2>
    {% gizmo jobs_table %}
    {% if not jobs_table.jobs %}
        <a class="btn btn-success" href="{% url 'gizmos:sample_jobs' %}">Create Sample Jobs</a>
    {% endif %}
  </div>
  {% csrf_token %}
{% endblock %}

{% block scripts %}
  <script>
    csrf_safe_method = function(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    };
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]');
    if(csrftoken){
          $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrf_safe_method(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken.value);
            }
        }
      });
    };
  </script>
  {% gizmo_dependencies css %}
	{{ block.super }}
  {% gizmo_dependencies js %}
{% endblock %}
