{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 %}

{% block title %}Create App{% endblock %}

{% bootstrap_messages %}

{% block account_form_title %}Create App{% endblock %}

{% block account_form_body %}
  {% if form %}
    <form role="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <a href="{% url 'app_library' %}" class="btn btn-outline-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary" name="create-app-submit">Create</button>
    </form>
  {% else %}
    {% include "./lifecycle_progress.html" with action="Creating" app_name=app_name app_package=app_package %}
  {% endif %}

{% endblock %}