{% extends "tethys_portal/accounts/base.html" %}

{% load django_bootstrap5 static %}

{% block title %}{{ block.super }} - Build App{% endblock %}

{% bootstrap_messages %}

{% block account_form_title %}Build App{% endblock %}

{% block account_form_body %}
  {% if form %}
    <form role="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <a href="{% url 'app_library' %}" class="btn btn-outline-secondary">Cancel</a>
      <button type="submit" id="scaffold-app-submit" class="btn btn-primary" name="scaffold-app-submit">Build</button>
    </form>
  {% else %}
    <img id='loader' src="{% static 'tethys_compute/img/loader.gif' %}" />
    Building... Do not leave this page!
  {% endif %}

{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if not form %}
    <script>var REDIRECT_URL = "{{ redirect_url }}"</script>;
    <script type="text/javascript" src="{% static 'tethys_portal/js/app_lifecycle.js' %}"></script>
  {% endif %}
{% endblock %}