{% extends "base.html" %}

{% load static %}

{% block title %}{{ block.super }} - Developer Tools{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_portal/css/developer.css' %}" rel="stylesheet" />
  <style>
    body {
      background: {{ site_globals.background_color|default:'#efefef' }};
    }
  </style>
{% endblock %}

{% block primary_content %}
  <div id="developer-content-wrapper">
    <div class="row">
      <div class="col-lg-6">
        {# Geoprocess formulator -------------------------------------------------------------------------------------#}
        <div class="media">
          <a class="pull-left" href="">
            <img class="media-object" src="{% static 'tethys_portal/images/geoprocessing.png' %}" alt="Geoprocessing tool">
          </a>
          <div class="media-body">
            <a href="{% url 'services:wps_home' %}"><h3 class="media-heading truncate">Web Processing Services</h3></a>
            <p class="multiline-truncate">
              Geoprocessing in Tethys apps can be accomplished using any web processing service (WPS). For convenience, Tethys
              provides the 52 North WPS service built in. Use this tool to explore the processes that are available and how to
              parameterize them.
            </p>
            <a href="{% url 'services:wps_home' %}">Go to tool.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}