{% extends "page.html" %}

{% block styles %}
	{{ super() }}
	{% resource 'ckanext_apps/css/tethys_apps.css' %}
{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="{% url_for 'apps' %}">Apps</a></li>
{% endblock %}

{% block add_action_content %}{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
      <h1>{{ _('Apps') }}</h1>
      {% if c.page.items or request.params %}
        {% snippet "apps_main/snippets/app_list.html", apps=c.page.items %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no apps for this site') }}.
        </p>
      {% endif %}
    </div>
    {{ c.page.pager() }}
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are Apps?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Apps are mini applications custom tailored for specific datasets or models. They 
        	provide simple workflows for analyzing, executing, and visualizing the data involved.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}