[main]

order = 
	vendor/jqueryui/js/jqueryui_min.js
	vendor/bootstrap_switch/build/js/bootstrap_switch_min.js
	vendor/bootstrap_datepicker/js/bootstrap_datepicker.js
	vendor/highcharts/js/highcharts.js
	vendor/highcharts/js/highcharts-more.js
	vendor/highcharts/js/modules/exporting.js
	js/tethys_map_view.js
	js/tethys_map.js
	js/tethys_snippets.js
	js/tethys_apps.js