{#
Display a message for user with feedback. This message box is a TwitterBootstrap modal.

links = list of dictionaries with link properties
active_param = template parameter that notifies the link list which link is active.
			   This is often a url variable.
			   e.g.: for a controller with the following url: 
			   url = /base/{var1}{var2}
			   and a link list that links to variations of var2,
			   active_param = c.var2

Example:

In the controller, create a list of dictionaries where the dictionaries represent
the attributes of each link:

c.my_links = [{'display_text': 'Project File',
			   'active_value': 'project-file',
			   'href': h.url_for('explorer-tabular', name=c.name, file='project-file', action='show'),
			   'attributes': None},
			   { ... },
			   { ... }]

{% snippet "snippets/link_list.html", links = c.my_links, active_param=c.file, list_class='nav nav-pills nav-stacked' %}

#}
<ul class="nav nav-pills nav-stacked">
	{% for link in links %}
	<li {% if active_param == link['active_value'] %} class="active" {% endif %} {% if link['attributes'] %} {{ link['attributes'] }} {% endif %}>
		<a href="{{ link['href'] }}">{{ link['display_text'] }}</a>
	</li>
	{% endfor %}
</ul>