# Tethys Main CI
name: Tethys-CI

# Only run on tags.
on:
  push:
    tags:
      - "*"

env:
  CONDA_BUILD_PIN_LEVEL: minor

jobs:
  docker-build:
    name: Docker Build (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: [3.7]
    steps:
      # Checkout the source
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # Parse version parts from tag
      - name: Parse version from tag
        id: version
        uses: release-kit/semver@v1
      - name: Log version
        run: |
          echo "Major: ${{ steps.version.outputs.major }}"
          echo "Minor: ${{ steps.version.outputs.minor }}"
          echo "Patch: ${{ steps.version.outputs.patch }}"
          echo "Prerelease: ${{ steps.version.outputs.prerelease }}"
          echo "Build: ${{ steps.version.outputs.build }}"
          echo "Full: ${{ steps.version.outputs.full }}"
          echo "Tag: ${{ steps.version.outputs.tag }}"
      # Build the docker with version tag
      - name: Build With Tag
        run: |
          full_tag="${{ steps.version.outputs.full }}";
          # no "+" characters allowed in Docker tags
          safe_tag="${full_tag//+/-}";
          docker build -t ${{ secrets.DOCKER_UPLOAD_URL }}:"$safe_tag" .;
      # Authenticate docker
      - name: Authenticate Docker
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin;
      # Upload docker
      - name: Upload Docker With Tag
        run: |
          echo "Pushing to docker registry";
          # docker push ${{ secrets.DOCKER_UPLOAD_URL }}:${{ steps.version.outputs.full }};
      - name: Upload Docker With Latest Tag
        if: ${{ steps.version.outputs.prerelease == '' }}
        run: |
          echo "Updating latest on the docker registry";
          docker tag ${{ secrets.DOCKER_UPLOAD_URL }}:${{ steps.version.outputs.full }} ${{ secrets.DOCKER_UPLOAD_URL }}:latest;
          # docker push ${{ secrets.DOCKER_UPLOAD_URL }}:latest;

  conda-build:
    name: Conda Build (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: [3.7]
    steps:
      # Checkout the source
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # Parse version parts from tag
      - name: Parse version from tag
        id: version
        uses: release-kit/semver@v1
      - name: Log version
        run: |
          echo "Major: ${{ steps.version.outputs.major }}"
          echo "Minor: ${{ steps.version.outputs.minor }}"
          echo "Patch: ${{ steps.version.outputs.patch }}"
          echo "Prerelease: ${{ steps.version.outputs.prerelease }}"
          echo "Build: ${{ steps.version.outputs.build }}"
          echo "Full: ${{ steps.version.outputs.full }}"
          echo "Tag: ${{ steps.version.outputs.tag }}"
      # Setup Tethys
      - name: Setup Tethys
        run: |
          cd ..
          bash ./tethys/scripts/install_tethys.sh --partial-tethys-install me -n tethys -s $PWD/tethys
          . ~/miniconda/etc/profile.d/conda.sh
          conda activate tethys
          hash -r
          conda config --set always_yes yes --set changeps1 no
          conda update -q conda
          conda install conda-build anaconda-client
          conda config --set anaconda_upload no
          mkdir -p ~/conda-bld
      # Export Conda Build Path
      - name: Set Conda Build Path
        uses: allenevans/set-env@v2.0.0
        with:
          CONDA_BLD_PATH: "/home/runner/conda-bld"
      # Generate Conda Recipe With Constrained Dependencies
      - name: Generate Conda Recipe
        run: |
          cd ..
          . ~/miniconda/etc/profile.d/conda.sh;
          conda activate tethys;
          tethys gen metayaml -p minor --overwrite;
      # Show Tethys Meta
      - name: Show Tethys Meta
        run: |
          cd ..
          cat ./tethys/conda.recipe/meta.yaml
      # Build Conda
      - name: Build Conda
        run: |
          cd ..
          . ~/miniconda/etc/profile.d/conda.sh;
          conda activate tethys;
          conda build -c tethysplatform -c conda-forge ./tethys/conda.recipe
      # Upload to Anaconda Cloud
      - name: Upload to Conda Release Channel
        if: ${{ steps.version.outputs.prerelease == '' }}
        run: |
          cd ..
          . ~/miniconda/etc/profile.d/conda.sh;
          conda activate tethys;
          echo "Publishing to release channel...";
          # anaconda -t "${{ secrets.CONDA_UPLOAD_TOKEN }}" upload -u ${{ secrets.CONDA_UPLOAD_USER }} $CONDA_BLD_PATH/noarch/tethys-platform*.tar.bz2 --force;
      - name: Upload to Conda Dev Channel
        if: ${{ steps.version.outputs.prerelease != '' }}
        run: |
          cd ..
          . ~/miniconda/etc/profile.d/conda.sh;
          conda activate tethys;
          echo "Publishing to dev channel...";
          # anaconda -t "${{ secrets.CONDA_UPLOAD_TOKEN }}" upload -u ${{ secrets.CONDA_UPLOAD_USER }} -l dev $CONDA_BLD_PATH/noarch/tethys-platform*.tar.bz2 --force;
